.academy {
  margin-bottom: 21.6rem;

  @include media-tablet-lg {
    margin-bottom: 160px;
  }

  @include media-tablet-sm {
    margin-bottom: 140px;
  }
}

.academy__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2rem 5rem;

  li {
    @include text-triangle-mark;
  }

  @include media-phone-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

.academy__text {
  span {
    color: $color-red-alpha;
  }
}
