// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;
// Colors
$color-black-alpha: #182f43;
$color-white-alpha: #fbfbff;
$color-white-beta: #fff;
$color-white-gamma: #f6f8ff;
$color-red-alpha: #aa4337;
$color-yellow-alpha: #ffc100;
// Fonts
$font-primary: 'Gilroy', sans-serif;
$font-secondary: 'Raleway', sans-serif;
