footer.footer
  .container
    .footer__top
      .footer__contacts
        .footer__logo
          +logo
          p ERA APP - ваши друзья и партнеры в цифровую эпоху.
        +contactLinks
      #footer-menu.footer__menu
        ul.footer__menu-list
          li
            a(href="services.html") Услуги
            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"></path>
            </svg>
              ul
                li
                  a(href="strategy.html") Цифровая стратегия
                li
                  a(href="optimization.html") Оптимизация магазина приложений
                li
                  a(href="design.html") UI/UX Design
                li
                  a(href="dev-mobile.html") Разработка мобильных приложений
                li
                  a(href="dev-web.html") Разработка Web-приложений
                li
                  a(href="motion.html") Motion Design
                li
                  a(href="support.html") Поддержка, хостинг и управление
                li
                  a(href="dev-ops.html") Услуги Dev Ops
                li
                  a(href="testing.html") Тестирование
        ul.footer__menu-list
          li
            a(href="portfolio.html") Портфолио
          li
            a(href="company.html") О компании
          li
            a(href="career.html") Карьера
    .footer__bot
      a(href="", target="_blank") Политика конфиденциальности
      a(href="docs/cookie.pdf", target="_blank") Политика в отношении файлов cookie
      p &copy; 2021 ERAAPP. Все права защищены
