footer.footer
  .container
    .footer__top
      .footer__group
        .footer__logo
          img(src="assets/img/svg/logo.svg", width="256", height="56", alt="", loading="lazy")
          p ERA APP - ваши друзья и партнеры в цифровую эпоху.
        +contactLinks
      .footer__group
        ul.footer__menu-list
          li
            a(href="#") Услуги
            ul
              li
                a(href="#") Разработка ПО
              li
                a(href="#") Motion Design
              li
                a(href="#") UI UX Design
              li
                a(href="#") Тестирование
        ul.footer__menu-list
          li
            a(href="#") Портфолио
          li
            a(href="#") О компании
            ul
              li
                a(href="#") Сотрудничество
              li
                a(href="#") Карьера
    .footer__bot
      a(href="#", target="_blank") Политика конфиденциальности
      a(href="#", target="_blank") Политика в отношении файлов cookie
      p &copy; 2021 ERAAPP. Все права защищены
