header.header
  .container
    .header__inner
      a.header__logo(href="index.html")
        img(src="assets/img/svg/logo.svg", width="165", height="192", alt="Era App")
      .header__group
        .header__lang
          img(src="assets/img/png/globe.png", width="22", height="19", alt="Language")
          ul.header__lang-list
            li
              a(href="#") Ru
              <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"/>
              </svg>
              ul
                li
                  a(href="#") En
        button#burger-btn.burger-btn
          span
