header#header.header
  .container
    .header__inner
      .header__top
        a.header__logo(href="index.html")
          img(src="assets/img/svg/logo.svg", width="220", height="86", alt="Era App")
          img(src="assets/img/svg/logo-burger.svg", width="220", height="86", alt="Era App", loading="lazy")
        .header__group
          .header__lang
            img(src="assets/img/png/globe.png", width="22", height="19", alt="")
            ul.header__lang-list
              li
                a(href="#") Ru
                <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"/>
                </svg>
                ul
                  li
                    a(href="#") En
          button#burger-button.burger-button(aria-label="Open menu")
            span
      .header__bot
        #header-burger.header__burger
          .header__burger-inner
            .header__burger-links
              nav.header__burger-menu
                ul.header__burger-list
                  li
                    a(href="services.html") Услуги
                    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.40539 1.25L8.7666 14L16.1278 1.25H1.40539Z" fill="#FFB700" stroke="#162A3C"></path>
                    </svg>
                    ul
                      li
                        a(href="#") Цифровая стратегия
                      li
                        a(href="#") Оптимизация магазина приложений
                      li
                        a(href="#") UI/UX дизайн
                      li
                        a(href="#") Разработка мобильных приложений
                      li
                        a(href="#") Разработка  Web-приложений
                      li
                        a(href="#") Motion дизайн
                      li
                        a(href="#") Поддержка, хостинг и управление
                      li
                        a(href="#") Услуги Dev Ops
                      li
                        a(href="#") Тестирование
                  li
                    a(href="#") Портфолио
                  li
                    a(href="#") О компании
                  li
                    a(href="#") Карьера
              .header__burger-contact
                +contactLinks
                +button('Связатья с нами', 'button--secondary')
            .header__burger-form
              .title.title--light
                h2
                  |Начните свой проект&nbsp;
                  span.title__part-yellow вместе с нами
              +contactForm('header')
