doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="Descrip")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")

      link(href="assets/fonts/Gilroy-Bold.woff2" as="font" rel="preload" type="font/woff2" crossorigin="anonymous")
      link(href="assets/fonts/Gilroy-Regular.woff2" as="font" rel="preload" type="font/woff2" crossorigin="anonymous")

      link(rel="stylesheet" href="assets/css/style.min.css")

      script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
      link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")

      block title
        title Era App
  body
    include ../mixins/common
    include header
    .page
      block header
        +header
      block content
      block footer
        include footer
      #modal-callback.modal
        .modal__content
          button.modal__close(aria-label="Close modal" type="button" data-modal-close)
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1.70711" y1="1.29289" x2="18.6777" y2="18.2635" stroke="#182F43" stroke-width="2"/>
              <line x1="1.29289" y1="18.2636" x2="18.2635" y2="1.29303" stroke="#182F43" stroke-width="2"/>
            </svg>
          .title.modal__title
            h2 Свяжитесь с нами!
          form.form(action="#", method="POST")
            .form__control
              input.form__input(type="text", name="name", placeholder="Ваше имя*", required)
            .form__control
              input.form__input(type="email", name="e-mail", placeholder="Ваш e-mail*", required)
            .form__control.form__control--wide
              textarea.form__input(name="message", placeholder="Расскажите коротко о вашем проекте" maxlength="250")
              label.form__upload-button
                input.form__input(type="file" multiple="multiple" accept=".doc, .docx, .odt, .pdf, .ppt, .pptx, .tex, .txt, .rtf, .wps, .wks, .wpd, .png, .jpg, .jpeg" hidden name="files")
                span.form__upload-button-txt
                  span Прикрепить файл
                  img(src="assets/img/svg/attach.svg", width="30", height="30", alt="")
            .form__group
              label.form__checkbox-wrapper.form__checkbox-wrapper--dark
                input.form__checkbox(name="agreement" type="checkbox" checked hidden)
                span.form__checkbox-styled
                span.form__checkbox-txt
                  |Я согласен (согласна) с условиями&nbsp;
                  a(href="docs/agreement.pdf" target="_blank") пользовательского соглашения
              +submitButton('Отправить', 'form__submit')
      #modal-vacancy.modal
        .modal__content
          button.modal__close(aria-label="Close modal" type="button" data-modal-close)
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1.70711" y1="1.29289" x2="18.6777" y2="18.2635" stroke="#182F43" stroke-width="2"/>
              <line x1="1.29289" y1="18.2636" x2="18.2635" y2="1.29303" stroke="#182F43" stroke-width="2"/>
            </svg>
          .title.modal__title
            h2 Присоединяйтесь к нам!
          form.form(action="#", method="POST")
            .form__control
              input.form__input(type="text", name="name", placeholder="Ваше имя*", required)
            .form__control
              input.form__input(type="email", name="e-mail", placeholder="Ваш e-mail*", required)
            .form__control.form__control--wide
              textarea.form__input(name="message", placeholder="Коротко расскажите о себе" maxlength="250")
              label.form__upload-button
                input.form__input(type="file" accept=".doc, .docx, .odt, .pdf, .ppt, .pptx, .tex, .txt, .rtf, .wps, .wks, .wpd, .png, .jpg, .jpeg" hidden name="files")
                span.form__upload-button-txt
                  span Прикрепить резюме
                  img(src="assets/img/svg/attach.svg", width="30", height="30", alt="")
            .form__group
              label.form__checkbox-wrapper.form__checkbox-wrapper--dark
                input.form__checkbox(name="agreement" type="checkbox" checked hidden)
                span.form__checkbox-styled
                span.form__checkbox-txt
                  |Я согласен (согласна) с условиями&nbsp;
                  a(href="docs/agreement.pdf" target="_blank") пользовательского соглашения
              +submitButton('Отправить', 'form__submit')
      #modal-thanks.modal
        .modal__content.modal__content--paddingless
          button.modal__close(aria-label="Close modal" type="button" data-modal-close)
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1.70711" y1="1.29289" x2="18.6777" y2="18.2635" stroke="#182F43" stroke-width="2"/>
              <line x1="1.29289" y1="18.2636" x2="18.2635" y2="1.29303" stroke="#182F43" stroke-width="2"/>
            </svg>
          .modal__inner
            .modal__descrip
              .title.modal__title.modal__title--left
                h2 Ваше письмо отправлено!
              .text.modal__text
                p Спасибо за заявку! Наша команда свяжется с вами в ближайшее время для обсуждения интересующих вас вопросов.
            .modal__img
              img(src="assets/img/svg/mail-box.svg", width="449", height="401", alt="", loading="lazy")

    block scripts
      script(src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js")
      script(src='assets/js/main.js')
