.button {
  position: relative;

  display: inline-block;

  z-index: 1;

  margin-left: 8px;

  &:before {
    z-index: -1;

    position: absolute;
    content: '';
    background: $color-black-alpha;
    bottom: 4px;
    left: -8px;
    width: calc(100% + 2px);
    height: calc(100% + 4px);
  }

  a,
  button {
    padding: 1.25em 1.625em;

    background-color: $color-white-beta;
    border: 2px solid $color-black-alpha;
    border-bottom-right-radius: 20px;

    span {
      margin-right: 10px;
      color: $color-black-alpha;
      font-weight: 600;
      font-size: 1.8rem;
      font-family: $font-secondary;
    }

    svg {
      vertical-align: middle;
    }
  }
}
