.button {
  position: relative;

  display: inline-block;

  z-index: 1;

  margin-bottom: 8px;

  &:before {
    z-index: -1;

    position: absolute;
    content: '';
    background-color: $color-black-alpha;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-bottom-right-radius: 20px;
  }

  &:hover {
    a,
    button {
      svg {
        transform: rotate(-45deg) translateY(-2px);
      }

      span {
        color: $color-red-alpha;
      }

      transform: translate(0, 0);
    }
  }

  a,
  button {
    border: 2px solid;

    padding: 1.25em 1.625em;

    background-color: $color-white-beta;
    border-color: $color-black-alpha;
    border-bottom-right-radius: 20px;

    transition: transform 0.15s ease;

    transform: translate(8px, 8px);
  }

  a:active,
  button:active {
    span {
      color: $color-black-alpha;
    }
  }

  span {
    margin-right: 10px;

    color: $color-black-alpha;
    font: 600 1.8rem $font-secondary;

    transition: color 0.15s ease;
  }

  svg {
    vertical-align: middle;
    fill: $color-black-alpha;

    transition: transform 0.15s ease;
  }

  &--secondary {
    margin-bottom: 6px;

    a,
    button {
      background-color: $color-black-alpha;

      transform: translate(6px, 6px);
    }

    &:hover {
      a,
      button {
        span {
          color: $color-white-alpha;
        }
      }
    }

    &::before {
      background-color: $color-yellow-alpha;
    }

    span {
      font: 400 1.8rem $font-primary;
      color: $color-white-alpha;
    }

    svg {
      fill: $color-white-alpha;
    }
  }

  &--secondary {
    a,
    button {
      border-color: $color-yellow-alpha;
    }
  }
}
