.button {
  position: relative;

  display: inline-block;

  z-index: 1;

  margin-left: 8px;

  background-color: $color-white-beta;
  border: 2px solid;
  border-color: $color-black-alpha;
  border-bottom-right-radius: 20px;

  &:before {
    z-index: -1;

    position: absolute;
    content: '';
    background-color: $color-black-alpha;
    bottom: 4px;
    left: -8px;
    width: 100%;
    height: calc(100% + 4px);
  }

  a,
  button {
    padding: 1.25em 1.625em;

    background-color: inherit;
    border-bottom-right-radius: inherit;
  }

  span {
    margin-right: 10px;
    color: $color-black-alpha;
    font: 600 1.8rem $font-secondary;
  }

  svg {
    vertical-align: middle;
    fill: $color-black-alpha;
  }

  &--secondary {
    background-color: $color-black-alpha;
    border-color: $color-yellow-alpha;

    &::before {
      background-color: $color-yellow-alpha;
    }

    span {
      font: 400 1.8rem $font-primary;
      color: $color-white-alpha;
    }

    svg {
      fill: $color-white-alpha;
    }
  }
}
