.crumbs {
  margin-bottom: 8.6rem;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    &:last-of-type {
      span {
        color: rgba($color-black-alpha, 0.7);
        font-weight: 400;
      }
    }

    &:not(:last-of-type) {
      &::after {
        display: inline-block;
        content: '\003E';
        margin: 0 7px;
        color: rgba($color-black-alpha, 0.7);

        @include media-phone-lg {
          margin: 0 1rem;
        }
      }
    }
  }

  a {
    font-size: 16px;
    color: $color-black-alpha;

    transition: color 0.1s linear;

    &:hover {
      color: $color-red-alpha;
    }
  }

  &--margin-sm {
    margin-bottom: 20px;
  }
}
