.offer {
  margin: 14rem 0 13rem;

  &--negative-margin {
    margin: 0 0 -15rem;
  }

  &:not(.offer--negative-margin) {
    @include media-tablet-lg {
      margin: 60px 0;
    }

    @include media-tablet-sm {
      margin: 40px 0;
    }
  }
}

.offer__inner {
  position: relative;

  padding: 2.9rem;
  padding-left: 40rem;

  img {
    position: absolute;

    top: 50%;
    left: 20px;

    transform: translateY(-50%);

    max-width: 40rem;
  }

  .title {
    margin-bottom: 20px;
  }

  @include media-laptop {
    img {
      max-width: 306px;
    }

    padding-left: 310px;
  }

  @include media-tablet-sm {
    img {
      display: none;
    }

    padding: 20px 30px;
  }

  @include media-phone-sm {
    padding: 20px 10px;
  }
}

.offer__descrip {
  display: flex;
  flex-direction: column;

  margin-left: 10rem;

  @include media-tablet-lg {
    margin-left: 35px;
  }

  @include media-tablet-sm {
    margin-left: 0;
  }

  @include media-phone-lg {
    align-items: center;
    text-align: center;
  }
}

.offer__text {
  max-width: 59rem;
  width: 100%;
}

.offer__top {
  @include media-laptop {
    margin-bottom: 30px;
  }
}

.offer__bot {
  display: flex;
  justify-content: flex-end;
}
