.title {
  margin-bottom: 3rem;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.4;
  color: $color-black-alpha;

  &.hidden {
    opacity: 0;
  }

  &--light {
    color: $color-white-alpha;
    font-weight: 600;

    h2,
    h3 {
      color: $color-white-beta;
    }
  }

  h2,
  h3 {
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
  }

  &__part-red {
    color: $color-red-alpha;
  }

  &__part-yellow {
    color: $color-yellow-alpha;
  }
}
