.ways {
  margin-bottom: 8rem;

  .title {
    text-align: center;
    max-width: 80rem;
    margin: 0 auto 8rem;
  }

  @include media-tablet-sm {
    .title {
      margin-bottom: 30px;
    }
  }
}

.ways__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet-sm {
    flex-direction: column-reverse;
  }
}

.ways__text {
  max-width: 62rem;
  width: 100%;

  @include media-tablet-sm {
    max-width: unset;
  }
}

.ways__img {
  max-width: 46.3rem;
  margin-right: 30px;

  @include media-tablet-lg {
    max-width: 350px;
  }

  @include media-tablet-sm {
    max-width: 290px;
    margin-top: 20px;
  }
}
