.vacancy-form {
  &__title {
    text-align: center;
    max-width: 87rem;
    width: 100%;

    margin: 0 auto 8rem;
  }

  &__img {
    max-width: 58.6rem;
  }

  @include media-tablet-lg {
    &__title {
      margin-bottom: 40px;
    }
  }

  @include media-tablet-sm {
    &__title {
      margin-bottom: 20px;
    }
  }
}
