mixin asoItem(title, textArr)
  div
    details
      summary
        span= title
        <svg width="15" height="35" viewBox="0 0 15 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="7.5" cy="17.5" r="7" stroke="#BDBDBD"/>
          <path d="M6.4 19.36C6.4 19.032 6.472 18.728 6.616 18.448C6.76 18.168 6.936 17.928 7.144 17.728C7.352 17.52 7.56 17.324 7.768 17.14C7.976 16.948 8.152 16.744 8.296 16.528C8.44 16.304 8.512 16.072 8.512 15.832C8.512 15.496 8.396 15.24 8.164 15.064C7.932 14.88 7.62 14.788 7.228 14.788C6.852 14.788 6.528 14.884 6.256 15.076C5.984 15.268 5.788 15.54 5.668 15.892L4.48 15.22C4.704 14.652 5.064 14.216 5.56 13.912C6.064 13.6 6.632 13.444 7.264 13.444C7.976 13.444 8.592 13.648 9.112 14.056C9.632 14.464 9.892 15.028 9.892 15.748C9.892 16.084 9.82 16.4 9.676 16.696C9.532 16.984 9.356 17.232 9.148 17.44C8.94 17.648 8.732 17.852 8.524 18.052C8.316 18.244 8.14 18.452 7.996 18.676C7.852 18.9 7.78 19.128 7.78 19.36H6.4ZM7.732 21.88C7.556 22.056 7.344 22.144 7.096 22.144C6.848 22.144 6.636 22.056 6.46 21.88C6.284 21.704 6.196 21.492 6.196 21.244C6.196 20.996 6.28 20.784 6.448 20.608C6.624 20.432 6.84 20.344 7.096 20.344C7.344 20.344 7.556 20.432 7.732 20.608C7.908 20.784 7.996 20.996 7.996 21.244C7.996 21.492 7.908 21.704 7.732 21.88Z" fill="#BDBDBD"/>
        </svg>
      .text
        for text in textArr
          p= text
