extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: '', name: 'О компании'},
            ])
            .title
              h1
                |ERA APP - наша команда, наша семья,&nbsp;
                span.title__part-red наше будущее
            .text.text--margin
              p Мы живем ради тех моментов, когда работа, которую мы делаем, способствует изменениям и развитию отраслей с использованием самых современных технологий
            +link('Наше портфолио', 'portfolio.html')
          .intro__img-wrapper.intro__img-wrapper--secondary
            .intro__img.intro__img--secondary
              img.intro__img-main(src="assets/img/png/company.png", width="948", height="734", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text-company.svg",  width="196", height="196", alt="", loading="lazy")

    //About
    section.about.about--img-media
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-14.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Агентство по созданию&nbsp;
                span.title__part-yellow мобильных&nbsp;
                |и&nbsp;
                span.title__part-red веб-приложений
            .text
              p За несколько лет работы мы сотрудничали с международными организациями и интересными стартапами, общались, помогали и создавали современные продукты. Это наша история.

    .wrapper.wrapper--border-left.wrapper--margin-top
      //Descrip
      section.descrip.descrip--negative-margin
        .container
          .descrip__inner.wrapper-round
            .title
              h2
                |Если ты хочешь создать что-то необычное —&nbsp;
                span.title__part-red тебе нужны необычные решения

      //Future
      section.future.section
        .container
          .title.title--light.future__title
            h2
              |Мы верим в себя, в наш успех и верим в&nbsp;
              span.title__part-yellow лучшее будущее
              |, ваше и наше!
          .future__inner
            .future__img-col
              .future__img.future__img--1
                img(src="assets/img/png/company-1.png", width="435", height="558", alt="", loading="lazy")
            .future__img-col
              .future__img.future__img--2
                img(src="assets/img/png/company-2.png", width="435", height="307", alt="", loading="lazy")
              .future__img.future__img--4
                img(src="assets/img/png/company-4.png", width="435", height="394", alt="", loading="lazy")
            .future__img-col
              .future__img.future__img--3
                img(src="assets/img/png/company-3.png", width="435", height="394", alt="", loading="lazy")
              .future__img.future__img--5
                img(src="assets/img/png/company-5.png", width="435", height="394", alt="", loading="lazy")

      //Dream
      section.dream.section
        .container
          .dream__inner
            .title.title--light.dream__title
              h2
                |У нас есть мечта, которая является нашей&nbsp;
                span.title__part-yellow путеводной звездой !
            .text.text--light.dream__text
              p Компания ERA APP существует для того, чтобы продвигать цифровые инновации и работать над тем, чем мы увлечены. Мы не верим в секретный соус, волшебные формулы или стандартные процессы, когда дело доходит до реализации проектов.
              p Но у нас есть набор личностных качеств, которые помогают нам действовать по-другому на нашем пути.

      //Join
      section.join.section
        .container
          .join__list(data-spoilers)
            +joinItem('join-1', 'Стремление', 'Оставайся любопытным, задавай вопросы о возможностях и расширяй границы своей личной и профессиональной жизни')
            +joinItem('join-2', 'Страсть', 'Делай все ради любви, а не славы. Вдохновляйся нашим стремлением к совершенству и активно заботьтесь о других')
            +joinItem('join-3', 'Подход', 'Оставьте свое Эго у двери. Слушайте, учитесь, справляйтесь с неудачами, радуйтесь успехам и будьте мужественными')
            +joinItem('join-4', 'Честность', 'Будь честен, открыт и ясно озвучивай мысль. Делай то, что лучше всего подходит всем, а не только тебе')
            +joinItem('join-5', 'Развлечение', 'Хихикай. Найслаждайся тем, что мы делаем и чего стремимся достичь. Смех заразителен, заставь мир улыбнуться')
            .join__descrip
              .title.title--light(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
                h3 Присоединяйся к нам!
              div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                .text.text--light.join__descrip-text
                  p Все это отзывается в тебе? Присоединяйся к команде, ознакомься с нашими вакансиями
                +link('Наши вакансии', '#', 'button--secondary')

      //Info
      section.info.section
        .container
          .info__inner
            .info__descrip
              .title.title--light
                h2 Почему стоит сотрудничать с нами?
              .text.text--light.text--margin
                p Мы являемся командой технологов, стратегов, дизайнеров, маркетологов и разработчиков. Работая друг с драгом мы превзойдем все ожидания, чтобы сделать то, что любят люди.
              +button('Свяжитесь с нами', 'button--secondary')
            .info__img
              img(src="assets/img/svg/people.svg", width="586", height="429", alt="", loading="lazy")
