extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: 'services.html', name: 'Услуги'},
              {href: '', name: 'Разработка Web-приложений'}
            ], 'crumbs--margin-lg')
            .title
              h1
                |Разработка&nbsp;
                span.title__part-red мобильных приложений
            .text.text--margin
              p Мы разрабатываем веб приложения и сайты, используя надежные современные технологии, чтобы помочь вам воплотить идеи и развить бизнес.
            +modalButton('Наши проекты')
          .intro__img-wrapper.intro__img-wrapper--secondary
            .intro__img.intro__img--secondary.intro__img--align-center.intro__img--justify-start.intro__img--padding-left-right
              img.intro__img-main(src="assets/img/svg/dev-mobile.svg", width="665", height="539", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text-dev-mobile.svg",  width="196", height="196", alt="", loading="lazy")

    //About
    section.about
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-11.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Наши приложения&nbsp;
                span.title__part-red делают жизнь проще
            .text
              p Мы специализируемся на нативных и гибридных решениях, которые достигают положительных результатов, меняют восприятие и устаналивают стандарты инноваций
            .about__list
              div
                img(src="assets/img/svg/idea-15.svg", width="105", height="105", alt="", loading="lazy")
                h3 Android development
              div
                img(src="assets/img/svg/idea-16.svg", width="105", height="105", alt="", loading="lazy")
                h3 IOS development
              div
                img(src="assets/img/svg/idea-17.svg", width="105", height="105", alt="", loading="lazy")
                h3 Hybrid app

    //Descrip
    section.descrip
      .container
        .descrip__inner.wrapper-round
          .title
            h2
              |Мы превратим твою идею&nbsp;
              span.title__part-red в первоклассное решение!

    //Dev
    section.dev.section
      .container
        .title
          h2 Мы предлагаем разработку
        ul.dev__list
          +devWebItem('IOS app', 'полнофункциональное приложение для всех устройств Apple')
          +devWebItem('Android app', 'приложения разной сложности для всех устройств Android')
          +devWebItem('Hybrid app', 'разработка мобильных и веб-приложений, а также интеграция со сторонними приложениями')

    //Pro
    section.pro.section
      .container
        .pro__inner
          .pro__descrip
            .title-marked
              h2 Профессионалы своего дела
            .text.text--margin.pro__descrip-text
              p Вы любите то, что делаете, мы любим то, что делаем, вашим пользователям понравится то, что мы делаем вместе.
              p Наша ключевая вера в использование технологий для решения больших проблем - это то, что делает нас сильной компанией по разработке приложений. Мы хотим изменить миллионы жизней, создавая решения, которые любят люди.
            +link('Подробнее о нас', 'company.html')
          img(src="assets/img/svg/pro.svg", width="665", height="470", alt="", loading="lazy")

    //Stack
    section.stack.section
      .container
        .stack__inner.wrapper-round
          .title
            h2 Стек используемых технологий
          .stack__list(data-spoilers)
            +stackItem(
              'iOS',
              [
                {
                  img: 'obj-c',
                  title: 'Objective-C',
                },
                {
                  img:'swift-2',
                  title: 'Swift',
                },
              ]
            )
            +stackItem(
              'Android',
              [
                {
                  img: 'kotlin',
                  title: 'Kotlin',
                },
                {
                  img:'java',
                  title: 'Java',
                },
              ]
            )
            +stackItem(
              'Cross platform',
              [
                {
                  img: 'dart',
                  title: 'Dart',
                },
                {
                  img:'flutter',
                  title: 'Flutter',
                },
              ]
            )
            +stackItem(
              'Database',
              [
                {
                  img: 'moor',
                  title: 'Moor',
                },
                {
                  img:'sqlite',
                  title: 'SQLite',
                },
                {
                  img:'realm',
                  title: 'Realm',
                },
                {
                  img:'room',
                  title: 'Room',
                },
                {
                  img:'core-data',
                  title: 'Core data',
                },
                {
                  img:'obj-box',
                  title: 'ObjectBox',
                },
              ],
              'stack__item--wide'
            )
            +stackItem(
              'Cross platform',
              [
                {
                  img: 'skripe',
                  title: 'Skripe',
                },
                {
                  img:'braintree',
                  title: 'Braintree',
                },
                {
                  img:'purchase',
                  title: 'In-app purchases',
                },
              ]
            )

    .wrapper.wrapper--border-left
      //Stages
      section.stages.section
        .container
          .title.title--light
            h2 Этапы разработки приложения
          ol.stages-list(data-spoilers)
            +stagesItem('1', 'Аналитика и дизайн', 'В начале разработки описываются видение продукта, принципы и механики его работы. Формируется MVP и создаются вайрфреймы. Затем создается дизайн приложения, прорабатываются все экраны и добавляется анимация элементов.')
            +stagesItem('2', 'Согласование', 'Прототип представляется заказчику для согласования. При необходимости носятся корректировки и доработки.')
            +stagesItem('3', 'Верстка и программирование', 'На этом этапе происходит техническая работа верстальщиком и программистом. Команда разработчиков пишет код, чтобы реализовать запланированное поведение приложения. Программисты воплощают готовый дизайн в коде.')
            +stagesItem('4', 'Тестирование и интеграция', 'Тестирование предполагает проверку качества системы специалистом, который не участвовал в непосредственной разработке продукта, что повышает вероятность обнаружения дефектов еще в процессе разработки.')
            +stagesItem('5', 'Публикация', 'Время добавить приложение в магазин приложений App Store, Google Play или любой другой сервис. Чтобы приложение прошло ревью магазинов приложений, мы предоставляем услуги по оптимизации приложения.')

      //Draft
      +sectionDraft

      //About
      +sectionAboutSolutions

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Свяжитесь с нашей командой, чтобы обсудить ваш вопрос и мы предложим вам подходящий вариант решения.'
        ]
      )
