extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: 'services.html', name: 'Услуги'},
              {href: '', name: 'Разработка Web-приложений'}
            ], 'crumbs--margin-lg')
            .title
              h1
                |Разработка &nbsp;
                span.title__part-red Web-приложений
            .text.text--margin
              p Мы разрабатываем веб приложения и сайты, используя надежные современные технологии, чтобы помочь вам воплотить идеи и развить бизнес.
            +modalButton('Наши проекты')
          .intro__img-wrapper.intro__img-wrapper--secondary
            .intro__img.intro__img--secondary.intro__img--align-center.intro__img--justify-center.intro__img--padding-left-right
              img.intro__img-main(src="assets/img/svg/dev-web.svg", width="665", height="539", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text-dev-web.svg",  width="196", height="196", alt="", loading="lazy")

    //About
    section.about
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-11.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Поможем развить&nbsp;
                span.title__part-yellow ваш бизнес
            .text
              p Мы следим за тенденциями и новейшими технологиями в сфере разработки. Наша компания разрабатывает веб приложения любой сложности для стартапов, частных бизнесов и предприятий.

    //Descrip
    section.descrip
      .container
        .descrip__inner.wrapper-round
          .title
            h2
              |Мы превратим твою идею&nbsp;
              span.title__part-red в первоклассное решение!

    //Dev
    section.dev.section
      .container
        .title
          h2 Мы предлагаем разработку
        ul.dev__list
          +devWebItem('Веб-сайты', 'полнофункциональное приложение для всех устройств Apple')
          +devWebItem('Веб-приложения', 'разработка мобильных и веб-приложений, а также интеграция со сторонними приложениями')
          +devWebItem('SaaS/облачные вычисления', 'разработка мобильных и веб-приложений, а также интеграция со сторонними приложениями')
          +devWebItem('Система ERM/CRM', 'приложения разной сложности для всех устройств Android')
          +devWebItem('Веб-безопасность', 'разработка мобильных и веб-приложений, а также интеграция со сторонними приложениями')
          +devWebItem('Модернизация', 'разработка мобильных и веб-приложений, а также интеграция со сторонними приложениями')

    //Pro
    section.pro.section
      .container
        .pro__inner
          .pro__descrip
            .title-marked
              h2 Профессионалы своего дела
            .text.text--margin.pro__descrip-text
              p Вы любите то, что делаете, мы любим то, что делаем, вашим пользователям понравится то, что мы делаем вместе.
              p Наша ключевая вера в использование технологий для решения больших проблем - это то, что делает нас сильной компанией по разработке приложений. Мы хотим изменить миллионы жизней, создавая решения, которые любят люди.
            +link('Подробнее о нас', 'company.html')
          img(src="assets/img/svg/pro.svg", width="665", height="470", alt="", loading="lazy")

    //Stack
    section.stack.section
      .container
        .stack__inner.wrapper-round
          .title
            h2 Стек используемых технологий
          .stack__list(data-spoilers)
            +stackItem(
              'Languages',
              [
                {
                  img: 'js-2',
                  title: 'JavaScript',
                },
                {
                  img:'ts',
                  title: 'TypeScript',
                },
                {
                  img:'csharp-2',
                  title: 'C#',
                },
              ]
            )
            +stackItem(
              'Back-end',
              [
                {
                  img: 'node-js',
                  title: 'Node.js',
                },
                {
                  img:'express',
                  title: 'Express',
                },
                {
                  img:'dot-net',
                  title: '.Net',
                },
              ]
            )
            +stackItem(
              'Front-end',
              [
                {
                  img: 'react',
                  title: 'React',
                },
                {
                  img:'gatsby',
                  title: 'Gatsby',
                },
                {
                  img:'angular',
                  title: 'AngularJS',
                },
                {
                  img:'html',
                  title: 'HTML',
                },
                {
                  img:'wpf',
                  title: 'WPF',
                },
                {
                  img:'css',
                  title: 'CSS',
                },
              ],
              'stack__item--wide'
            )
            +stackItem(
              'Database',
              [
                {
                  img: 'redis',
                  title: 'Redis',
                },
                {
                  img:'postgre',
                  title: 'PosgreSQL',
                },
                {
                  img:'mysql',
                  title: 'MySQL',
                },
                {
                  img:'dynamo',
                  title: 'DynamoDB',
                },
                {
                  img:'mongo',
                  title: 'MongoDB',
                },
              ],
              'stack__item--wide'
            )

    .wrapper.wrapper--border-left
      //Stages
      section.stages.section
        .container
          .title.title--light
            h2 Этапы разработки приложения
          ul.stages-list(data-spoilers)
            +stagesItem('1', 'Аналитика и дизайн', 'В начале разработки описываются видение продукта, принципы и механики его работы. Формируется MVP и создаются вайрфреймы. Затем создается дизайн приложения, прорабатываются все экраны и добавляется анимация элементов.')
            +stagesItem('2', 'Согласование', 'Прототип представляется заказчику для согласования. При необходимости носятся корректировки и доработки.')
            +stagesItem('3', 'Верстка и программирование', 'На этом этапе происходит техническая работа верстальщиком и программистом. Команда разработчиков пишет код, чтобы реализовать запланированное поведение приложения. Программисты воплощают готовый дизайн в коде.')
            +stagesItem('4', 'Тестирование и интеграция', 'Тестирование предполагает проверку качества системы специалистом, который не участвовал в непосредственной разработке продукта, что повышает вероятность обнаружения дефектов еще в процессе разработки.')
            +stagesItem('5', 'Публикация', 'Время добавить приложение в магазин приложений App Store, Google Play или любой другой сервис. Чтобы приложение прошло ревью магазинов приложений, мы предоставляем услуги по оптимизации приложения.')

      //Draft
      +sectionDraft

      //About
      +sectionAboutSolutions

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Свяжитесь с нашей командой, чтобы обсудить ваш вопрос и мы предложим вам подходящий вариант решения.'
        ]
      )
