extends common/layout

block content
  main
    //Intro
    section.intro
      .container
        .intro__inner
          .intro__descrip
            .title
              h2
                |Наша команда проложит вам путь к&nbsp;
                span цифровому будущему
            .text
              p Мы являемся компанией по разработке веб-приложений и мобильных приложений полного цикла, создающей индивидуальные решения.
              p Наша команда дизайнеров использует новейшие практики UI/UX дизайна
            +button('Оценить проект')
          .intro__img
            img(src="assets/img/png/intro-phones.png", width="418", height="644", alt="")
            img.intro__img-text(src="assets/img/svg/text.svg",  width="196", height="196", alt="")

    //Specialization
    section.spec
      .container
        .spec__inner
          .spec__services
            ul.spec__services-list
              li Цифровая стратегия
              li Оптимизация магазина приложений
              li UI UX Дизайн
              li Поддержка, хостинг и управление
              li Разработка Web-приложений
              li Motion дизайн
              li Поддержка, хостинг и управление
              li Услуги Dev Ops
              li Тестирование
            img(src="assets/img/svg/gear.svg", width="142", height="143", alt="")
          .spec__descrip
            .title
              h2
                |Мы специализируемся на&nbsp;
                br
                span 9 услугах&nbsp;
                |в&nbsp;
                span 8 отраслях
            .text
              p Мы создадим для вас решение, которое определит и решит ваши бизнес-задачи, продукт достигнет соответствия рынку и технологическим тенденциям
            +link('Наши услуги', '#')

    //Solution
    section.solution
      .container
        .solution__content
          .solution__descrip
            .title
              h2
                |Мы разрабатываем решение&nbsp;
                br
                span для любой ниши
                |,&nbsp;
                br
                |которая нуждается в нас
            .solution__list
              div
                img(src="assets/img/svg/solution-1.svg", width="80", height="80", alt="")
                h3 Образование и здравохранение
              div
                img(src="assets/img/svg/solution-2.svg", width="80", height="80", alt="")
                h3 Торговля и коммерция
              div
                img(src="assets/img/svg/solution-3.svg", width="80", height="80", alt="")
                h3 Туризм и логистика
              div
                img(src="assets/img/svg/solution-4.svg", width="80", height="80", alt="")
                h3 Здоровье и спорт
              div
                img(src="assets/img/svg/solution-5.svg", width="80", height="80", alt="")
                h3 Еда и рестораны
              div
                img(src="assets/img/svg/solution-6.svg", width="80", height="80", alt="")
                h3 Социальные сети
          figure.solution__img
            img(src="assets/img/svg/tree.svg", width="609", height="609", alt="")
            figcaption Technology stack
        .solution__offer
          img(src="assets/img/svg/hero.svg", width="423", height="385", alt="")
          .solution__offer-descrip
            .title
              h3
                |Ваш бизнес из другой отрасли? Это не проблема! Наши сотрудники&nbsp;
                span настоящие профессионалы&nbsp;
                |и справятся с любой поставленной задачей
            .solution__offer-bot
              .text
                p Наши специалисты подготовят персональное предложение для вас!
              +button('Получить предложение')

    //Projects
    section.projects
      .container
        .title.title--light
          h2 Наши проекты
        .projects__content
          .projects__item
            img(src="assets/img/png/projects-1.png", width="460", height="452", alt="Vino&vino")
            .projects__item-descrip
              h3 Vino&vino
              .text.text--light
                p Приложение для контроля финансов и осуществления денежных переводов
              +link('Подробнее', '#', 'button--secondary')
          .projects__item
            img(src="assets/img/png/projects-2.png", width="460", height="452", alt="LawDoc")
            .projects__item-descrip
              h3 LawDoc
              .text.text--light
                p Приложение для контроля финансов и осуществления денежных переводов
              +link('Подробнее', '#', 'button--secondary')
        .projects__descrip
          .title.title--light
            h2
              |Создать лучший продукт для вашего бизнеса -&nbsp;
              br
              span наша главная цель
          +link('Подробнее', '#', 'button--secondary')

    //Benefits
    section.benefits
      .container
        .benefits__list
          div
            img(src="assets/img/svg/benefits-1.svg", width="285", height="240", alt="")
            h3 Наша команда сильна в своей области и использует только передовые технологии
          div
            img(src="assets/img/svg/benefits-2.svg", width="285", height="240", alt="")
            h3 Мы открыты перед всем миром. Наш процесс разработки прозрачен для клиента.
          div
            img(src="assets/img/svg/benefits-3.svg", width="285", height="240", alt="")
            h3 Мы становимся одной командой с клиентом. В процессе работы мы консультируем, предлагаем идеи и подсказываем

    //Descrip
    section.descrip
      .container
        .descrip__inner
          .title
            h2
              |Мы отлично владеем IT-технологиями и готовы подобрать и воплотить&nbsp;
              span любое подходящее вам решение!

    //Startup
    section.startup
      .container
        .startup__inner
          img(src="assets/img/svg/startup.svg", width="461", height="580", alt="")
          .startup__descrip
            h2 Услуги стартапа
            .text
              p Если вы смелый стартап с идеей и хотите ее протестировать, мы поможем вам воплотить ее в жизнь. Как компания по разработке ПО, мы имеем глубокий опыт создания проектов MVP, чтобы сократить время выхода на рынок.
            +button('Поделиться своей идеей')

    .sections-wrapper
      //Join
      section.join
        .container
          .join__list
            .join__item
              .join__item-img
                img(src="assets/img/svg/join-1.svg", width="60", height="60", alt="")
              .join__item-descrip
                h3 Стремление
                .text
                  p Оставайся любопытным, задавай вопросы о возможностях и расширяй границы своей личной и профессиональной жизни
            .join__item
              .join__item-img
                img(src="assets/img/svg/join-2.svg", width="60", height="60", alt="")
              .join__item-descrip
                h3 Страсть
                .text
                  p Делай все ради любви, а не славы. Вдохновляйся нашим стремлением к совершенству и активно заботьтесь о других
            .join__item
              .join__item-img
                img(src="assets/img/svg/join-3.svg", width="60", height="60", alt="")
              .join__item-descrip
                h3 Подход
                .text
                  p Оставьте свое Эго у двери. Слушайте, учитесь, справляйтесь с неудачами, радуйтесь успехам и будьте мужественными.
            .join__item
              .join__item-img
                img(src="assets/img/svg/join-4.svg", width="60", height="60", alt="")
              .join__item-descrip
                h3 Честность
                .text
                  p Будь честен, открыт и ясно озвучивай мысль. Делай то, что лучше всего подходит всем, а не только тебе
            .join__item
              .join__item-img
                img(src="assets/img/svg/join-5.svg", width="60", height="60", alt="")
              .join__item-descrip
                h3 Развлечение
                .text
                  p Хихикай. Найслаждайся тем, что мы делаем и чего стремимся достичь. Смех заразителен, заставь мир улыбнуться
            .join__descrip
              .title.title--light
                h3 Присоединяйся к нам!
              .text.text--light
                p Все это отзывается в тебе? Присоединяйся к команде, ознакомься с нашими вакансиями
              +link('Наши вакансии', '#', 'button--tertiary')

      //Start
      section.start
        .container
          .start__inner
            .start__content
              .title.title--light
                h2
                  |Начните свой проект&nbsp;
                  span вместе
                  br
                  span с нами
              form.form(action="#", method="POST", name="")
                .form__control
                  input.form__input(type="text", name="name", placeholder="Ваше имя*")
                .form__control
                  input.form__input(type="email", name="e-mail", placeholder="Ваш e-mail*")
                .form__control
                  input.form__input(type="text", name="company", placeholder="Ваша компания")
                .form__control.form__select
                  #service-container.form__options-container
                    .form__option
                      input#digital-strategy(type="radio" name="service")
                      label(for="digital-strategy") Цифровая стратегия
                    .form__option
                      input#optimization(type="radio" name="service")
                      label(for="optimization") Оптимизация магазина приложений
                    .form__option
                      input#design(type="radio" name="service")
                      label(for="design") UI/UX дизайн
                    .form__option
                      input#dev-mobile(type="radio" name="service")
                      label(for="dev-mobile") Разработка мобильных приложений
                    .form__option
                      input#dev-web(type="radio" name="service")
                      label(for="dev-web") Разработка  Web-приложений
                    .form__option
                      input#motion(type="radio" name="service")
                      label(for="motion") Motion дизайн
                    .form__option
                      input#support(type="radio" name="service")
                      label(for="support") Поддержка, хостинг и управление
                    .form__option
                      input#dev-ops(type="radio" name="service")
                      label(for="dev-ops") Услуги Dev Ops
                    .form__option
                      input#testing(type="radio" name="service")
                      label(for="testing") Тестирование
                  #service-selected.form__option-selected.form__input Выберите услугу
                .form__control.form__control--wide
                  textarea.form__input(name="message", placeholder="Расскажите коротко о вашем проекте" maxlength="250")
                  label.form__upload-button
                    input.form__input(type="file" multiple="multiple" accept=".doc, .docx, .odt, .pdf, .ppt, .pptx, .tex, .txt, .rtf, .wps, .wks, .wpd, .png, .jpg, .jpeg" hidden name="files" data-form-upload)
                    span.form__error
                    .form__upload-button-txt
                      span Прикрепить файл
                      img(src="assets/img/png/attach.png", alt="")
                .form__group
                  label.form__checkbox-wrapper
                    input.form__checkbox(name="agreement" type="checkbox" checked hidden)
                    span.form__checkbox-styled
                    span.form__checkbox-txt Я согласен (а) на обработку моих персональных данных
                  +button('Отправить', 'button--tertiary', 'submit')

            .start__img
              img(src="assets/img/svg/start.svg", alt="")
