extends common/layout

block content
  main
    //Intro
    section.intro
      .container
        .intro__inner
          .intro__descrip
            h2
              |Наша команда проложит вам путь к&nbsp;
              span цифровому будущему
            .intro__text
              p Мы являемся компанией по разработке веб-приложений и мобильных приложений полного цикла, создающей индивидуальные решения.
              p Наша команда дизайнеров использует новейшие практики UI/UX дизайна
            +button('Оценить проект')
          .intro__img
            img(src="assets/img/png/intro-phones.png", width="418", height="644", alt="")
            img.intro__img-text(src="assets/img/svg/text.svg",  width="196", height="196", alt="")
