extends common/layout

block content
  main
    //Intro
    section.intro
      .container
        .intro__inner
          .intro__descrip
            .title
              h2
                |Наша команда проложит вам путь к&nbsp;
                span цифровому будущему
            .text
              p Мы являемся компанией по разработке веб-приложений и мобильных приложений полного цикла, создающей индивидуальные решения.
              p Наша команда дизайнеров использует новейшие практики UI/UX дизайна
            +button('Оценить проект')
          .intro__img
            img(src="assets/img/png/intro-phones.png", width="418", height="644", alt="")
            img.intro__img-text(src="assets/img/svg/text.svg",  width="196", height="196", alt="")

    //Specialization
    section.spec
      .container
        .spec__inner
          .spec__services
            ul.spec__services-list
              li Цифровая стратегия
              li Оптимизация магазина приложений
              li UI UX Дизайн
              li Поддержка, хостинг и управление
              li Разработка Web-приложений
              li Motion дизайн
              li Поддержка, хостинг и управление
              li Услуги Dev Ops
              li Тестирование
            img(src="assets/img/svg/gear.svg", width="142", height="143", alt="")
          .spec__descrip
            .title
              h2
                |Мы специализируемся на&nbsp;
                br
                span 9 услугах&nbsp;
                |в&nbsp;
                span 8 отраслях
            .text
              p Мы создадим для вас решение, которое определит и решит ваши бизнес-задачи, продукт достигнет соответствия рынку и технологическим тенденциям
            +link('Наши услуги', '#')

    //Solution
    section.solution
      .container
        .soluition__content
          .solution__descrip
            .title
              h2
                |Мы разрабатываем решение&nbsp;
                br
                span для любой ниши
                |,&nbsp;
                br
                |которая нуждается в нас
            .solution__list
              div
                img(src="assets/img/svg/solution-1.svg", width="80", height="80", alt="")
                h3 Образование и здравохранение
              div
                img(src="assets/img/svg/solution-2.svg", width="80", height="80", alt="")
                h3 Торговля и коммерция
              div
                img(src="assets/img/svg/solution-3.svg", width="80", height="80", alt="")
                h3 Туризм и логистика
              div
                img(src="assets/img/svg/solution-4.svg", width="80", height="80", alt="")
                h3 Здоровье и спорт
              div
                img(src="assets/img/svg/solution-5.svg", width="80", height="80", alt="")
                h3 Еда и рестораны
              div
                img(src="assets/img/svg/solution-6.svg", width="80", height="80", alt="")
                h3 Социальные сети
          figure.solution__img
            img(src="assets/img/svg/tree.svg", width="609", height="609", alt="")
            figcaption Technology stack
        .solution__offer
          img(src="assets/img/svg/hero.svg", width="423", height="385", alt="")
          .solution__offer-descrip
            .title
              h3
                |Ваш бизнес из другой отрасли? Это не проблема! Наши сотрудники&nbsp;
                span настоящие профессионалы&nbsp;
                |и справятся с любой поставленной задачей
            .solution__offer-bot
              .text
                p Наши специалисты подготовят персональное предложение для вас!
              +button('Получить предложение')

    //Projects
    section.projects
      .container
        .title.title--light
          h2 Наши проекты
        .projects__content
          .projects__item
            img(src="assets/img/png/projects-1.png", width="460", height="452", alt="Vino&vino")
            .projects__item-descrip
              h3 Vino&vino
              .text.text--light
                p Приложение для контроля финансов и осуществления денежных переводов
              +link('Подробнее', '#', 'button--secondary')
          .projects__item
            img(src="assets/img/png/projects-2.png", width="460", height="452", alt="LawDoc")
            .projects__item-descrip
              h3 LawDoc
              .text.text--light
                p Приложение для контроля финансов и осуществления денежных переводов
              +link('Подробнее', '#', 'button--secondary')
        .projects__descrip
          .title.title--light
            h2
              |Создать лучший продукт для вашего бизнеса -&nbsp;
              span наша главная цель
          +link('Подробнее', '#', 'button--secondary')
