extends common/layout

block content
  main
    //Intro
    section.intro
      .container
        .intro__inner
          img.intro__img-text.intro__img-text--tablet(src="assets/img/svg/text.svg",  width="170", height="170", alt="", loading="lazy")
          .intro__descrip
            .title.hidden
              h1
                span#title-fade Наша команда проложит вам путь к&nbsp;
                span#title-bounce.title__part-red цифровому будущему
            .text
              p Мы являемся компанией по разработке веб-приложений и мобильных приложений полного цикла, создающей индивидуальные решения.
              p Наша команда дизайнеров использует новейшие практики UI/UX дизайна
            +button('Оценить проект')
          .intro__img
            .intro__img-phone.intro__img-phone--1(data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100", data-aos-offset="200")
              img(src="assets/img/svg/phone-1.svg", width="236", height="512", alt="")
            .intro__img-phone.intro__img-phone--2(data-aos="fade-up", data-aos-duration="1500", data-aos-delay="1000")
              img(src="assets/img/svg/phone-2.svg", width="209", height="525", alt="")
            .intro__img-text
              img(src="assets/img/svg/text.svg",  width="196", height="196", alt="", loading="lazy")

    //Specialization
    section.spec
      .container
        .spec__inner
          .spec__services
            ul.spec__services-list
              li
                a(href="#") Цифровая стратегия
              li
                a(href="#") Оптимизация магазина приложений
              li
                a(href="#") UI UX Дизайн
              li
                a(href="#") Поддержка, хостинг и управление
              li
                a(href="#") Разработка Web-приложений
              li
                a(href="#") Motion дизайн
              li
                a(href="#") Поддержка, хостинг и управление
              li
                a(href="#") Услуги Dev Ops
              li
                a(href="#")  Тестирование
            img.rellax(src="assets/img/svg/gear.svg", width="142", height="143", loading="lazy", alt="", data-rellax-speed="-2.5")
          .spec__descrip
            .title(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
              h2
                |Мы специализируемся на&nbsp;
                br
                span.title__part-red 9 услугах&nbsp;
                |в&nbsp;
                span.title__part-yellow 8 отраслях
            div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
              .text
                p Мы создадим для вас решение, которое определит и решит ваши бизнес-задачи, продукт достигнет соответствия рынку и технологическим тенденциям
              +link('Наши услуги', '#')

    //Solution
    section.solution
      .container
        .solution__content
          .solution__descrip
            .title(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
              h2
                |Мы разрабатываем решение&nbsp;
                br
                span.title__part-red для любой ниши
                |,&nbsp;
                br
                |которая нуждается в нас
            .solution__list(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
              div
                img(src="assets/img/svg/solution-1.svg", width="80", height="80", alt="", loading="lazy")
                h3 Образование и здравохранение
              div
                img(src="assets/img/svg/solution-2.svg", width="80", height="80", alt="", loading="lazy")
                h3 Торговля и коммерция
              div
                img(src="assets/img/svg/solution-3.svg", width="80", height="80", alt="", loading="lazy")
                h3 Туризм и логистика
              div
                img(src="assets/img/svg/solution-4.svg", width="80", height="80", alt="", loading="lazy")
                h3 Здоровье и спорт
              div
                img(src="assets/img/svg/solution-5.svg", width="80", height="80", alt="", loading="lazy")
                h3 Еда и рестораны
              div
                img(src="assets/img/svg/solution-6.svg", width="80", height="80", alt="", loading="lazy")
                h3 Социальные сети
          figure.solution__img
            img(src="assets/img/svg/tree.svg", width="609", height="609", alt="", loading="lazy")
            .solution__icon.solution__icon--apple.solution__icon--dark
              img(src="assets/img/svg/apple.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--swift
              img(src="assets/img/svg/swift.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--node.solution__icon--dark
              img(src="assets/img/svg/node.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--csharp
              img(src="assets/img/svg/csharp.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--atom
              img(src="assets/img/svg/atom.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--js.solution__icon--dark
              img(src="assets/img/svg/js.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--python.solution__icon--dark
              img(src="assets/img/svg/python.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--php
              img(src="assets/img/svg/php.svg", width="75", height="75" alt="", loading="lazy")
            .solution__icon.solution__icon--android
              img(src="assets/img/svg/android.svg", width="75", height="75" alt="", loading="lazy")
            figcaption Technology stack

    //Offer
    +offer(
      'hero',
      'Хотите пообщаться?',
      [
      'Если вы хотите поговорить о технологиях, отправьте нам сообщение.',
      'Вопросы, проблемы или идеи...!'
      ],
      true,
      'offer--negative-margin'
    )

    //Projects
    section.projects
      .container
        .title.title--light
          h2 Наши проекты
        ul.projects__list
          li.projects__item
            img(src="assets/img/png/projects-1.png", width="460", height="452", alt="Vino&vino", loading="lazy")
            .projects__item-descrip
              h3(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300") Femida
              div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                .text.text--light
                  p Приложение предназначено для Юридической компании и ее пользователей.
                +link('Подробнее', '#', 'button--secondary')
          li.projects__item
            img(src="assets/img/png/projects-2.png", width="460", height="452", alt="LawDoc", loading="lazy")
            .projects__item-descrip
              h3(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300") LawDoc
              div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                .text.text--light
                  p Приложение для контроля финансов и осуществления денежных переводов
                +link('Подробнее', '#', 'button--secondary')
        .projects__descrip
          .title.title--light
            h2
              |Создать лучший продукт для вашего бизнеса -&nbsp;
              br
              span.title__part-red наша главная цель
          +link('Подробнее', '#', 'button--secondary')

    //Benefits
    section.benefits
      .container
        .benefits__list
          div
            img(src="assets/img/svg/benefits-1.svg", width="285", height="240", alt="", loading="lazy", data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300", data-aos-delay="0")
            h3 Наша команда сильна в своей области и использует только передовые технологии
          div
            img(src="assets/img/svg/benefits-2.svg", width="285", height="240", alt="", loading="lazy", data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300", data-aos-delay="450")
            h3 Мы открыты перед всем миром. Наш процесс разработки прозрачен для клиента.
          div
            img(src="assets/img/svg/benefits-3.svg", width="285", height="240", alt="", loading="lazy", data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300", data-aos-delay="900")
            h3 Мы становимся одной командой с клиентом. В процессе работы мы консультируем, предлагаем идеи и подсказываем

    //Descrip
    section.descrip
      .container
        .descrip__inner
          .title
            h2
              |Мы отлично владеем IT-технологиями и готовы подобрать и воплотить&nbsp;
              span.title__part-red любое подходящее вам решение!

    //Startup
    section.startup
      .container
        .startup__inner
          .startup__img
            img(src="assets/img/svg/startup.svg", width="461", height="580", alt="", loading="lazy")
            .startup__icon.startup__icon--insta
              img(src="assets/img/svg/insta-dark.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--cloud.startup__icon--dark
              img(src="assets/img/svg/cloud.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--lamp
              img(src="assets/img/svg/lamp.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--play.startup__icon--dark
              img(src="assets/img/svg/play.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--facebook
              img(src="assets/img/svg/facebook-dark.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--location.startup__icon--dark
              img(src="assets/img/svg/location.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--message
              img(src="assets/img/svg/message.svg", width="52", height="52", alt="", loading="lazy")
            .startup__icon.startup__icon--like.startup__icon--dark
              img(src="assets/img/svg/like.svg", width="52", height="52", alt="", loading="lazy")
          .startup__descrip
            h2(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300") Услуги стартапа
            div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
              .text
                p Если вы смелый стартап с идеей и хотите ее протестировать, мы поможем вам воплотить ее в жизнь. Как компания по разработке ПО, мы имеем глубокий опыт создания проектов MVP, чтобы сократить время выхода на рынок.
              +button('Поделиться своей идеей')

    .sections-wrapper.sections-wrapper--border-right
      //Join
      section.join
        .container
          #spoilers-join.join__list
            +joinItem('join-1', 'Стремление', 'Оставайся любопытным, задавай вопросы о возможностях и расширяй границы своей личной и профессиональной жизни')
            +joinItem('join-2', 'Страсть', 'Делай все ради любви, а не славы. Вдохновляйся нашим стремлением к совершенству и активно заботьтесь о других')
            +joinItem('join-3', 'Подход', 'Оставьте свое Эго у двери. Слушайте, учитесь, справляйтесь с неудачами, радуйтесь успехам и будьте мужественными')
            +joinItem('join-4', 'Честность', 'Будь честен, открыт и ясно озвучивай мысль. Делай то, что лучше всего подходит всем, а не только тебе')
            +joinItem('join-5', 'Развлечение', 'Хихикай. Найслаждайся тем, что мы делаем и чего стремимся достичь. Смех заразителен, заставь мир улыбнуться')
            .join__descrip
              .title.title--light(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
                h3 Присоединяйся к нам!
              div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                .text.text--light
                  p Все это отзывается в тебе? Присоединяйся к команде, ознакомься с нашими вакансиями
                +link('Наши вакансии', '#', 'button--secondary')

      //Start
      section.start
        .container
          .start__inner
            .start__content
              .title.title--light
                h2
                  |Начните свой проект&nbsp;
                  span.title__part-yellow вместе
                  br
                  span.title__part-yellow с нами
              +contactForm('page')
            .start__img
              img(src="assets/img/svg/start.svg", width="508", height="486", alt="", loading="lazy")
              .start__icon.start__icon--lamp(data-aos="zoom-in", data-aos-duration="1200", data-aos-delay="100")
                img(src="assets/img/svg/lamp-red.svg", width="40", height="40", alt="", loading="lazy")
              .start__icon.start__icon--mechanism(data-aos="zoom-in", data-aos-duration="1200" data-aos-delay="600")
                img(src="assets/img/svg/mechanism.svg", width="40", height="40", alt="", loading="lazy")
              .start__icon.start__icon--graph(data-aos="zoom-in", data-aos-duration="1200", data-aos-delay="1100")
                img(src="assets/img/svg/graph.svg", width="40", height="40", alt="", loading="lazy")
              .start__icon.start__icon--target(data-aos="zoom-in", data-aos-duration="1200", data-aos-delay="1600")
                img(src="assets/img/svg/target.svg", width="40", height="40", alt="", loading="lazy")
              .start__cloud.start__cloud--1
                img(src="assets/img/svg/start-cloud.svg", width="124", height="135", alt="", loading="lazy")
              .start__cloud.start__cloud--2
                img(src="assets/img/svg/start-cloud.svg", width="81", height="23", alt="", loading="lazy")
              .start__cloud.start__cloud--3
                img(src="assets/img/svg/start-cloud.svg", width="81", height="23", alt="", loading="lazy")
