extends common/layout

include mixins/optimization

block content
  main
    //Intro
    section.intro.intro--secondary
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: 'services.html', name: 'Услуги'},
              {href: '', name: 'Оптимизация и продвижение приложений'}
            ])
            .title
              h1
                span.title__part-red Оптимизация&nbsp;
                |и&nbsp;
                span.title__part-red продвижение&nbsp;
                |приложений
            .text.text--margin
              p Продвигаем приложения, анализируем результаты, помогаем развивать продукт.
            +button('Наши проекты')
          .intro__img-wrapper.intro__img-wrapper--secondary
            .intro__img.intro__img--secondary
              img.intro__img-main(src="assets/img/svg/optimization.svg", width="601", height="495", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text-optimization-en.svg",  width="196", height="196", alt="", loading="lazy")

    //About
    section.about
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-6.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Предоставляем услуги&nbsp;
                br
                span.title__part-red ASO&nbsp;
                span.title__part-yellow SEO
            .text
              p ASO - App Store Optimization - Оптимизация магазина приложений. SEO - Search Engine Optimization - поисковая оптимизация сайта.

    //Descrip
    section.descrip
      .container
        .descrip__inner.wrapper-round
          .title
            h2
              |Мы отлично владеем IT-технологиями и готовы подобрать и воплотить&nbsp;
              span.title__part-red любое подходящее вам решение

    //Pro
    section.pro.section
      .container
        .pro__inner
          .pro__descrip
            .title-marked
              h2 App Store Optimization рассматривает две задачи
            .text.text--margin.pro__descrip-text
              ul
                li <b>Повышение конверсии из просмотра страницы приложения в его установку.</b> Вследствии приложение получает больше пользователей, больший доход при тех же расходах на маркетинг
                li <b>Повышение видимости приложения в магазине</b> - рост позиций по поисковым запросам, возможность участия в списках рекомендуемых приложений
            +link('Подробнее о нас', 'company.html')
          img(src="assets/img/svg/seo.svg", width="665", height="470", alt="", loading="lazy")

    //ASO
    section.aso.section
      .container
        .title
          h2
            |Процессы&nbsp;
            span.title__part-red App Store Optimization
        .aso__faq(data-spoilers data-spoilers-desktop="true")
          .aso__faq-block
            +asoItem(
              'Составление семантического ядра',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
            +asoItem(
              'Скриншоты',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
            +asoItem(
              'Заголовок приложения',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
            +asoItem(
              'Видео',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
          .aso__faq-block
            +asoItem(
              'Текстовое описание',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
            +asoItem(
              'Иконка',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
            +asoItem(
              'Что нового',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )
            +asoItem(
              'Категория',
              [
                'Семантическое ядро это все ключевые слова и словосочетания, которые ролевантны приолжению и по которым ожидается его поиск.',
                'Оптимальное семантическое ядро включает в себя запросы разной частности, которые помогут охватить максимум органических поисковых запросов и чаще попадать в рекомендации.'
              ]
            )

    .wrapper.wrapper--border-left
      //Stages
      section.stages.section
        .container
          .title.title--light
            h2
              |SEO - поисковая оптимизация сайта
          ul.stages-list(data-spoilers)
            +stagesItem('1', 'Семантическое ядро и контент', 'Широкое семантическое ядро под НЧ, СЧ и ВЧ запросы. Необходимо анализировать тип продвигаемого запроса, страницы и домены конкурентов. Поисковая система Соogle ценит объемные статьи, обильное наличие ключевых слов. ')
            +stagesItem('2', 'Ссылки', 'Один из самых важных факторов ранжирования в Соogle. Основные моменты: плавность простановки ссылок, хорошее качество ссылочных доноров, анкор-листы без переспама. ')
            +stagesItem('3', 'Поведенческие факторы', 'Имеют среднюю важность для SEO: оценивается юзабилити, удобство для посетителей, привлекательность сайта в поиске Gоogle.')
            +stagesItem('4', 'Техническое состояние', 'Важно поддерживать сайт в хорошем техническом состоянии и своевременно устранять ошибки в Google Webmaster Tools. Наличие большого количества технических ошибок сильно затрудняет процесс SEO-продвижения сайтов в Gоogle. ')
            +stagesItem('5', 'Коммерческие факторы', 'Имеют низкую степень влияния. По сравнению с Яндексом коммерческие факторы ранжирования в Gоogle имеют низкую степень влияния (для Беларуси и России). ')
            +stagesItem('6', 'Возраст сайта', 'Молодые сайты с большим трудом продвигаются в ТОП-10 Google. Действует фильтр «Песочница», который снимается с возрастом 3-6 месяцев.')

      //About
      section.about.about--light.about--marginless
        .container
          .about__inner
            .about__img
              .about__img-wrapper
                img(src="assets/img/png/about-7.png", width="580", height="470", alt="", loading="lazy")
            .about__descrip
              .title.title--light
                h2
                  |Search Engine Optimization&nbsp;
                  span.title__part-red необходимо для
              .about__list.about__list--light
                div
                  img(src="assets/img/svg/idea-7.svg", width="80", height="80", alt="", loading="lazy")
                  h3 Повышения конверсии
                div
                  img(src="assets/img/svg/idea-8.svg", width="80", height="80", alt="", loading="lazy")
                  h3 Улучшения юзабилити
                div
                  img(src="assets/img/svg/idea-9.svg", width="80", height="80", alt="", loading="lazy")
                  h3 Постоянного контроля
                div
                  img(src="assets/img/svg/idea-10.svg", width="80", height="80", alt="", loading="lazy")
                  h3 Стабильного поток клиентов
                div
                  img(src="assets/img/svg/idea-11.svg", width="80", height="80", alt="", loading="lazy")
                  h3 Fixed amound

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Свяжитесь с нашей командой, чтобы обсудить ваш вопрос и мы предложим вам подходящий вариант решения.'
        ]
      )
