extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary.portfolio-intro
      .container
        .intro__inner
          .intro__img-text.intro__img-text--tablet
            img(src="assets/img/svg/text-portfolio.svg",  width="170", height="170", alt="", loading="lazy")
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: '', name: 'Портфолио'}
            ], 'crumbs--margin-lg')
            .title
              h1
                |Создадим&nbsp;
                span.title__part-red лучший продукт&nbsp;
                |для вашего бизнеса
            .text.text--margin
              p Наш проекты отличаются уникальностью и удобством
            +modalButton('Оценить проект')
          .intro__img-wrapper
            .intro__img.portfolio-intro__img
              img.intro__img-main(src="assets/img/png/portfolio.png", width="655", height="556", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text-portfolio.svg",  width="165", height="165", alt="", loading="lazy")

    .wrapper.wrapper--border-left
      //Projects
      section.projects.projects--margin-sm
        .container
          .title.title--light
            h2 Наши проекты
          ul.projects__list
            li.projects__item
              a.projects__item-img-link(href="project-femidia.html")
                img(src="assets/img/png/projects-1.png", width="460", height="452", alt="Vino&vino", loading="lazy")
              .projects__item-descrip
                div(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
                  a.projects__item-link(href="project-femidia.html")  Femida
                div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                  .text.text--light.projects__item-text
                    p Приложение предназначено для Юридической компании и ее пользователей.
            li.projects__item
              a.projects__item-img-link(href="#")
                img(src="assets/img/png/projects-2.png", width="460", height="452", alt="LawDoc", loading="lazy")
              .projects__item-descrip
                div(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
                  a.projects__item-link(href="#") LawDoc
                div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                  .text.text--light.projects__item-text
                    p Приложение для контроля финансов и осуществления денежных переводов
            li.projects__item
              a.projects__item-img-link(href="project-ionia.html")
                img(src="assets/img/png/projects-3.png", width="460", height="452", alt="LawDoc", loading="lazy")
              .projects__item-descrip
                div(data-aos="fade-down", data-aos-easig="linear", data-aos-duration="1300")
                  a.projects__item-link(href="project-ionia.html") Ionia Management
                div(data-aos="fade-up", data-aos-easig="linear", data-aos-duration="1300")
                  .text.text--light.projects__item-text
                    p Мобильное приложение, для компании занимающейся проверкой судов

      //Descrip
      section.descrip
        .container
          .descrip__inner.wrapper-round
            .title
              h2
                |В нашем портфолио осталось место&nbsp;
                span.title__part-red для вашего проекта&nbsp;
                |!

      //About
      +sectionAboutSolutions

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Свяжитесь с нашей командой, чтобы обсудить ваш вопрос и мы предложим вам подходящий вариант решения.'
        ]
      )
