extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: '', name: 'Услуги'}
            ])
            .title
              h1
                |Поможем расширить&nbsp;
                span.title__part-red ваши возможности&nbsp;
            .text.text--margin
              p Мы работаем с брендами, предприятиями, государственными учреждениями и некоммерческими организациями, помогая расширить ваши возможности и побудить людей поддержать вашу идею.
            +button('Оценить проект')
          .intro__img-wrapper
            .intro__img
              img.intro__img-main(src="assets/img/svg/programming.svg", width="236", height="512", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text.svg",  width="196", height="196", alt="", loading="lazy")

    //Services
    section.services.section
      .container
        .title
          h2 Наши услуги
        ul.deal-list
          +serviceItem('#', 'service-1', 'Цифровая стратегия')
          +serviceItem('#', 'service-2', 'Разработка мобильных приложений')
          +serviceItem('#', 'service-3', 'Поддержка, хостинг и управление')
          +serviceItem('#', 'service-4', 'Оптимизация магазина приложений')
          +serviceItem('#', 'service-5', 'Разработка Web-приложений')
          +serviceItem('#', 'service-6', 'Услуги Dev Ops')
          +serviceItem('#', 'service-7', 'UI/UX дизайн')
          +serviceItem('#', 'service-8', 'Motion дизайн')
          +serviceItem('#', 'service-9', 'Тестирование')

    //About
    section.about
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-1.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Мы объединяем технологии и дизайн&nbsp;
                span.title__part-red для создания хорошего образа
            .text
              p Принимайте быстрые и обоснованные решения на каждом этапе вашего проекта, работая с командой, которая заботится о вас так же, как и вы. Запуск вашего продукта — это еще не конец, мы помогаем вам вносить повторяющиеся улучшения и можем поддерживать вас 24/7.

    //Solution
    +sectionSolution

    //Steps
    section.steps
      .container
        .steps__inner
          .steps__img
            img(src="assets/img/svg/steps.svg", width="226", height="471", alt="", loading="lazy")
            ul.steps__list
              li(data-aos="zoom-in" data-aos-duration="500")
                span 1
                p Первый контакт
              li(data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500")
                span 2
                p Этап обнаружения
              li(data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500")
                span 3
                p Ux/Ui дизайн
              li(data-aos="zoom-in" data-aos-delay="450" data-aos-duration="500")
                span 4
                p Процесс разработки
              li(data-aos="zoom-in" data-aos-delay="600" data-aos-duration="500")
                span 5
                p Гарантия качества
              li(data-aos="zoom-in" data-aos-delay="750" data-aos-duration="500")
                span 6
                p Развертывание
              li(data-aos="zoom-in" data-aos-delay="900" data-aos-duration="500")
                span 7
                p Поддержка и обслуживание
          .steps__descrip
            .title
              h2
                |Наш процесс разработки&nbsp;
                span.title__part-red программмного обеспечения
            .text.steps__descrip-text
              p Мы следуем установленному жизненному циклу разработки программного обеспечения (SDLC), чтобы создавать качественный и современный продукт, соответствующий вашим требованиям и требованиям рынка.

    .sections-wrapper.sections-wrapper--border-left
      //Ways
      section.ways.section
        .container
          .title.title--light
            h2
              |Мы предоставим вам&nbsp;
              span.title__part-yellow новые возможности
          .ways__inner
            .ways__img
              img(src="assets/img/svg/ways.svg", width="463", height="361", alt="", loading="lazy")
            .text.text--light
              p Проведите время с нами, от первоначальной стратегии до тестирования пользователей во время дизайнерских спринтов. Мы подойдем к вашему проекту с настоящим сотрудничеством, предоставим самые лучшие цифровые и дизайнерские решения, которыми мы с вами будем гордиться

      //Draft
      +sectionDraft

      //Tech
      section.tech
        .container
          .tech__inner
            .tech__descrip
              .title.title--light
                h2
                  |Технологии для изменения жизни и&nbsp;
                  span.title__part-red решения проблем
              .text.text--light.tech__descrip-text
                p У нас есть опыт работы с множеством технологических стеков, которые потмогают нас объединить креативность, стратегию и видение вашего бренда
            .tech__list
              div
                img(src="assets/img/svg/tech-1.svg", width="60", height="60", alt="", loading="lazy")
                h3
                  |Оповещения
                  br
                  |Уведомления
              div
                img(src="assets/img/svg/tech-2.svg", width="60", height="60", alt="", loading="lazy")
                h3 Местоположение
              div
                img(src="assets/img/svg/tech-3.svg", width="60", height="60", alt="", loading="lazy")
                h3 Масштабные решения
              div
                img(src="assets/img/svg/tech-4.svg", width="60", height="60", alt="", loading="lazy")
                h3 Платежи
              div
                img(src="assets/img/svg/tech-5.svg", width="60", height="60", alt="", loading="lazy")
                h3 Продукты мирового класса
              div
                img(src="assets/img/svg/tech-6.svg", width="60", height="60", alt="", loading="lazy")
                h3 И многое другое..

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Начните экономить время и деньги с помощью услуг DevOps.'
        ]
      )
