extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary.support-intro
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: 'services.html', name: 'Услуги'},
              {href: '', name: 'Поддержка, хостинг и управление'}
            ], 'crumbs--margin-lg')
            .title
              h1
                |Поддержка,&nbsp;
                span.title__part-red хостинг и управление
            .text.text--margin
              p Запуск вашего продукта - это еще не конец, мы помогаем вам внести итеративные улучшения и можем поддержать вас 24/7.
            +link('Наши проекты', 'portfolio.html')
          .intro__img-wrapper.intro__img-wrapper--secondary
            .intro__img
              img.intro__img-main.support-intro__img(src="assets/img/svg/support.svg", width="826", height="638", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text-support.svg",  width="196", height="196", alt="", loading="lazy")

    //About
    section.about
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-4.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Мы всегда&nbsp;
                span.title__part-yellow рядом
            .text
              p Не беспокойтесь о сбоях приложений или обновлениях программного обеспечения, которые наша команда увидела негативное влияние, которое может оказать хрупкое приложение. Вот почему мы предлагаем круглосуточную поддержку для создания платформ, на которые можно положиться, когда ваши пользователи нуждаются в них больше всего.

    //Pro
    section.pro.section
      .container
        .pro__inner
          .pro__descrip
            .title-marked
              h2 Профессионалы своего дела
            .text.text--margin.pro__descrip-text
              p Вы любите то, что делаете, мы любим то, что делаем, вашим пользователям понравится то, что мы делаем вместе.
              p Наша ключевая вера в использование технологий для решения больших проблем - это то, что делает нас сильной компанией по разработке приложений. Мы хотим изменить миллионы жизней, создавая решения, которые любят люди.
            +link('Подробнее о нас', 'company.html')
          img(src="assets/img/svg/pro.svg", width="665", height="470", alt="", loading="lazy")

    .wrapper.wrapper--border-left
      //Stages
      section.stages.section
        .container
          .title.title--light
            h2 Обязанности службы администрирования
          ol.stages-list(data-spoilers)
            +stagesItem('1', 'Контроль работы продукта ', 'Быстрое реагирование на падение сервера и другие проблемы, возникшие в ходе его работы и устранение их.')
            +stagesItem('2', 'Решение проблем', 'Помощь в решении проблем связанных с веб содержимым сервера: например, почты. А также предоставление необходимых консультаций относительно его работы.')
            +stagesItem('3', 'Предоставление информации', 'Предоставление информации по поводу настроек сервера, в частности настройка программного обеспечения.')
            +stagesItem('4', 'Восстановление', 'Восстановление информации о данных хостинг-аккаунта клиента из резервного копирования (backup), если потеря случилась по вине хостинга.')
            +stagesItem('5', 'Контроль спам-рассылок', 'Блокировка пользователей, занимающихся рассылкой спама и создающих чрезмерную нагрузку на сервер.')
            +stagesItem('6', 'Смена настроек', 'Доносить до клиентов информацию о смене настроек сервера, обновлении программного обеспечения и плановых технических работах.')

      //Draft
      +sectionDraft

      //About
      +sectionAboutSolutions

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Свяжитесь с нашей командой, чтобы обсудить ваш вопрос и мы предложим вам подходящий вариант решения.'
        ]
      )
