extends common/layout

block content
  main
    //Intro
    section.intro.intro--secondary
      .container
        .intro__inner
          .intro__descrip
            //Crumbs
            +crumbs([
              {href: 'services.html', name: 'Услуги'},
              {href: '', name: 'Услуга тестирования'}
            ], 'crumbs--margin-lg')
            .title
              h1
                |Услуга&nbsp;
                span.title__part-red тестирования
            .text.text--margin
              p Мы разрабатываем разные подходы тестирования вашего программного обеспечения, которые охватывают каждую деталь вашего продукта и обеспечивает его качество.
            +link('Наши проекты', 'portfolio.html')
          .intro__img-wrapper.intro__img-wrapper--secondary
            .intro__img.intro__img--secondary.intro__img--align-center.intro__img--justify-center.intro__img--padding-left-right.intro__img--padding-bottom
              img.intro__img-main(src="assets/img/svg/testing.svg", width="489", height="465", alt="", data-aos="fade-up", data-aos-duration="1500", data-aos-delay="100")
            .intro__img-text
              img(src="assets/img/svg/text.svg",  width="196", height="196", alt="", loading="lazy")

    //About
    section.about
      .container
        .about__inner
          .about__img
            .about__img-wrapper
              img(src="assets/img/png/about-8.png", width="580", height="470", alt="", loading="lazy")
          .about__descrip
            .title
              h2
                |Как выбрать&nbsp;
                span.title__part-red подходящий вид тестирования
            .text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    //Pro
    section.pro.section
      .container
        .pro__inner
          .pro__descrip
            .title-marked
              h2 Профессионалы своего дела
            .text.text--margin.pro__descrip-text
              p Вы любите то, что делаете, мы любим то, что делаем, вашим пользователям понравится то, что мы делаем вместе.
              p Наша ключевая вера в использование технологий для решения больших проблем - это то, что делает нас сильной компанией по разработке приложений. Мы хотим изменить миллионы жизней, создавая решения, которые любят люди.
            +link('Подробнее о нас', 'company.html')
          img(src="assets/img/svg/pro.svg", width="665", height="470", alt="", loading="lazy")

    .wrapper.wrapper--border-left
      //Stages
      section.stages.section
        .container
          .title.title--light
            h2 Обязанности службы администрирования
          ul.stages-list(data-spoilers)
            +stagesItem('1', 'Функциональное тестирование', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
            +stagesItem('2', 'Тестирование совместимости', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
            +stagesItem('3', 'Тестирование локализации', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
            +stagesItem('4', 'Кросс-платформенное тестирование', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
            +stagesItem('5', 'Стрессовое тестирование', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
            +stagesItem('6', 'Тестирование удобства использования', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')

      //Draft
      +sectionDraft

      //About
      +sectionAboutSolutions

      //Offer
      +offer(
        'mobile',
        'Давайте обсуждать детали!',
        [
        'Свяжитесь с нашей командой, чтобы обсудить ваш вопрос и мы предложим вам подходящий вариант решения.'
        ]
      )
