extends common/layout

block content
  main
    section.vacancy
      .container
        //Crumbs
        +crumbs(
          [
            {href: 'career.html', name: 'Карьера'},
            {href: '', name: 'Middle Motion Designer'}
          ],
          'crumbs--margin-sm'
        )
        .vacancy__inner
          .vacancy__position.wrapper-round
            .title.vacancy__title
              h1 Middle Motion Designer
            .vacancy__position-text
              p
                |Город:&nbsp;
                span Минск
              p
                |Уровень:&nbsp;
                span Middle
            +link('Откликнуться', '#vacancy-form')
          section.vacancy__info.section
            .vacancy__info-item
              .title.title-marked.vacancy__info-title
                h2
                  span.title__part-red Стек задач&nbsp;
                  |будет включать:
              .vacancy__descrip
                .vacancy__list
                  ul.list
                    li Дизайн с нуля и редизайн страниц сайта и посадочных страниц компании, подготовка адаптивов
                    li Поддержание в актуальном состоянии и дальнейшее расширение нашей дизайн системы и библиотеки компонентов
                    li Тесное сотрудничество с UI/UX тим-лидом, другими дизайнерами, и командой разработки
                    li Тесное сотрудничество с UI/UX тим-лидом, другими дизайнерами, и командой разработки
                    li Дизайн диджитал маркетинговых материалов
                    li Работа с фото и простой графикой: цветокоррекция, монтаж, прорисовка векторных элементов
            .vacancy__info-item
              .title.title-marked
                h2
                  |Наши&nbsp;
                  span.title__part-red ожидания
              .vacancy__descrip
                .vacancy__list
                  ul.list
                    li Опыт работы с сеткой, вёрсткой и типографикой
                    li Стремление сделать проще, удобнее, понятнее, не забывая при этом об эстетике
                    li Опыт работы в Figma или Sketch, Adobe Illustrator и Photoshop от 2-х лет
                    li Наличие портфолио с примерами работ
                    li Уровень английского не ниже Intermediate+
                .vacancy__list
                  p Будет плюсом:
                  ul.list
                    li Опыт работы c Adobe InDesign
                    li Свободная коммуникация c носителями английского языка

      //Start
      .wrapper.wrapper--border-right
        section#vacancy-form.start.vacancy-form.section
          .container
            .title.title--light.vacancy-form__title
              h2
                |Стань частью нашей&nbsp;
                span.title__part-yellow команды профессионалов!
            .start__inner
              .start__content
                form.form(action="#", method="POST")
                  .form__control
                    input.form__input(type="text", name="name", placeholder="Ваше имя*", required)
                  .form__control
                    input.form__input(type="text", name="name", placeholder="Фамилия*", required)
                  .form__control
                    input.form__input(type="tel", name="phone", placeholder="Телефон*", required)
                  .form__control
                    input.form__input(type="text", name="linkedin", placeholder="LinkedIn")
                  .form__control
                    input.form__input(type="email", name="e-mail", placeholder="Ваш e-mail*", required)
                  .form__control
                    .form__placeholder
                      span Резюме
                    label.form__upload-button
                      input.form__input(type="file" accept=".doc, .docx, .odt, .pdf, .ppt, .pptx, .tex, .txt, .rtf, .wps, .wks, .wpd, .png, .jpg, .jpeg" hidden name="files")
                      span.form__error
                      span.form__upload-button-txt
                        span Файл
                        img(src="assets/img/svg/attach.svg", width="30", height="30", alt="")
                  .form__control.form__control--wide
                    textarea.form__input(name="message", placeholder="Комментарий" maxlength="250")
                  .form__group
                    label.form__checkbox-wrapper
                      input.form__checkbox(name="agreement" type="checkbox" checked hidden)
                      span.form__checkbox-styled
                      span.form__checkbox-txt
                        |Я согласен (согласна) с условиями&nbsp;
                        a(href="docs/agreement.pdf" target="_blank") пользовательского соглашения
                    +submitButton('Отправить', 'button--secondary form__submit')
              .start__img.vacancy-form__img
                img(src="assets/img/svg/people.svg", width="586", height="429", alt="", loading="lazy")
