.benefits__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px 20px;

  div {
    display: flex;
    flex-direction: column;
  }

  img {
    max-width: 28.5rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.67;
    max-width: 38rem;
    width: 100%;
  }

  @include media-laptop {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include media-tablet-lg-sm {
    img {
      max-width: 210px;
    }
  }

  @include media-tablet-sm {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

    h3 {
      max-width: unset;
    }

    div {
      align-items: center;
      text-align: center;
    }
  }
}
