.benefits__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
  grid-gap: 4rem 7.8rem;

  img {
    max-width: 28.5rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.67;
    max-width: 38rem;
    width: 100%;
  }
}
