.descrip {
  margin: 6rem 0 8rem;

  @include media-tablet-lg {
    margin: 60px 0;
  }

  @include media-tablet-sm {
    margin: 40px 0;
  }
}

.descrip__inner {
  padding: 3.6rem 17.2rem;

  background-image: url('../img/png/noise.png');
  background-color: $color-white-psi;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 40px;
  border: 1px solid;

  .title {
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
  }

  @include media-tablet-lg {
    padding: 36px 125px;
  }

  @include media-tablet-sm {
    padding: 36px 70px;
  }

  @include media-phone-lg {
    padding: 30px 20px;
  }
}
