.intro {
  padding-bottom: 10rem;
  background-color: $color-white-gamma;

  @include media-tablet-lg {
    padding-bottom: 40px;
  }
}

.intro__inner {
  position: relative;

  display: flex;
  justify-content: space-between;

  @include media-tablet-sm {
    flex-direction: column-reverse;
  }
}

.intro__descrip {
  padding-top: 21.6rem;
  margin-right: 38px;

  max-width: 63rem;
  width: 100%;

  @include media-tablet-lg {
    padding-top: 112px;
  }

  @include media-tablet-sm {
    padding-top: 35px;
  }
}

.intro__img {
  position: relative;

  max-width: 68.3rem;
  width: 100%;
  min-height: 77.2rem;

  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;

  background: url('../img/png/gradient.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 26px;
    content: '';
    border-right: 1px solid $color-black-alpha;
    border-left: 1px solid $color-black-alpha;
    border-bottom: 1px solid $color-black-alpha;
    width: 100%;
    height: 104%;
    border-radius: inherit;

    @include media-laptop {
      right: 16px;
    }

    @include media-phone-sm {
      right: 10px;
    }
  }

  img {
    position: absolute;
  }

  img:first-child {
    z-index: 1;

    max-width: 23.6rem;

    bottom: 6%;
    left: 18%;
  }

  img:nth-child(2) {
    max-width: 20.9rem;

    bottom: 21%;
    left: 50%;
  }

  @include media-desktop {
    max-width: 550px;
  }

  @include media-laptop {
    max-width: 422px;
    min-height: 541px;

    img:first-child {
      max-width: 146px;
    }

    img:nth-child(2) {
      max-width: 119px;
    }
  }

  @include media-tablet-lg-sm {
    max-width: 350px;
  }

  @include media-tablet-sm {
    max-width: 422px;
    align-self: flex-end;
  }

  @include media-phone-sm {
    min-height: 470px;

    img:first-child {
      max-width: 116px;
    }

    img:nth-child(2) {
      max-width: 95px;
    }
  }
}

.intro__img-text {
  position: absolute;
  bottom: 7%;
  left: -14%;
  max-width: 19.6rem;

  animation: text-rotate 11s linear infinite;

  @include media-laptop {
    max-width: 121px;
  }

  @include media-tablet-lg {
    animation: none;
  }

  @include media-tablet-sm {
    display: none;
  }
}
