.projects {
  padding: 21rem 0 10rem;
  margin-bottom: 8rem;

  .title {
    text-align: center;
    margin-bottom: 6rem;
  }

  @include media-laptop {
    padding: 180px 0 80px;
    border-radius: 200px 0 0 0;
  }

  @include media-tablet-lg {
    .title {
      margin-bottom: 40px;
    }
  }

  @include media-phone-lg {
    margin-bottom: 30px;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem 31rem;
  margin-bottom: 8rem;

  @include media-laptop {
    grid-gap: 40px 100px;
  }

  @include media-tablet-lg {
    margin-bottom: 40px;
  }

  @include media-tablet-lg-sm {
    grid-gap: 40px 70px;
  }

  @include media-phone-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects__item {
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    flex-direction: column-reverse;

    h3 {
      color: #4881f2;
    }

    .projects__item-descrip {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &-descrip {
    margin-top: 20px;
    margin-bottom: 0;
  }

  img {
    max-width: 46rem;
    max-height: 45.2rem;
    height: 100%;
    object-fit: contain;
  }

  h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $color-white-alpha;
    text-transform: uppercase;
  }

  &-text {
    margin-bottom: 3rem;

    max-width: 46rem;
    width: 100%;
  }

  @include media-tablet-lg {
    img {
      max-width: 397px;
    }
  }

  @include media-tablet-lg-sm {
    img {
      max-width: 297px;
    }
  }

  @include media-phone-lg {
    align-items: center;

    &:nth-child(even) {
      flex-direction: column;
    }
  }
}

.projects__descrip {
  text-align: center;
  max-width: 101rem;
  width: 100%;
  margin: 0 auto;
}
