.start {
  padding-bottom: 8rem;
}

.start__inner {
  display: flex;
  justify-content: space-between;
}

.start__content {
  max-width: 70.8rem;
  width: 100%;
  margin-right: 20px;

  .title {
    span:first-of-type {
      color: $color-yellow-alpha;
    }
  }
}

.start__img {
  max-width: 50.8rem;
}
