.startup {
  margin-bottom: 23.6rem;
}

.startup__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    margin-bottom: 4.4rem;
  }

  h2 {
    @include text-triangle-mark;

    margin-bottom: 3rem;

    line-height: 1;
    font-weight: 700;
    font-size: 3.8rem;

    &::before {
      top: 5px;
    }
  }
}

.startup__descrip {
  max-width: 59.6rem;
  width: 100%;
}

.startup__img {
  position: relative;

  max-width: 46.1rem;
  margin-right: 20px;

  img:first-child {
    position: relative;
  }
}

.startup__icon {
  position: absolute;

  max-width: 100%;
  width: unset;

  animation: icon-pulse 3s linear infinite alternate;

  &--dark {
    animation: icon-pulse 3s linear infinite alternate-reverse;
  }

  &--insta {
    bottom: 31%;
    left: 12%;
  }

  &--cloud {
    bottom: 52%;
    left: 0%;
  }

  &--lamp {
    top: 9%;
    left: 7%;
  }

  &--play {
    top: 5%;
    left: 32%;
  }

  &--facebook {
    top: 5%;
    right: 23%;
  }

  &--location {
    top: 19%;
    right: 7%;
  }

  &--message {
    top: 39%;
    right: -1%;
  }

  &--like {
    bottom: 30%;
    right: 13%;
  }
}
