.startup {
  margin-bottom: 23.6rem;

  @include media-tablet-lg {
    margin-bottom: 170px;
  }

  @include media-tablet-sm {
    margin-bottom: 80px;
  }
}

.startup__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startup__text {
  margin-bottom: 4.4rem;

  @include media-tablet-sm {
    margin-bottom: 25px;
  }
}

.startup__descrip {
  max-width: 59.6rem;
  width: 100%;
}

.startup__img {
  position: relative;

  max-width: 46.1rem;
  margin-right: 40px;

  img:first-child {
    position: relative;
  }

  @include media-tablet-sm {
    display: none;
  }
}

.startup__icon {
  position: absolute;

  animation: icon-pulse 3s linear infinite alternate;

  &--dark {
    animation: icon-pulse 3s linear infinite alternate-reverse;
  }

  &--insta {
    bottom: 31%;
    left: 12%;
  }

  &--cloud {
    bottom: 52%;
    left: 0%;
  }

  &--lamp {
    top: 9%;
    left: 7%;
  }

  &--play {
    top: 5%;
    left: 32%;
  }

  &--facebook {
    top: 5%;
    right: 23%;
  }

  &--location {
    top: 19%;
    right: 7%;
  }

  &--message {
    top: 39%;
    right: -1%;
  }

  &--like {
    bottom: 30%;
    right: 13%;
  }

  @include media-tablet-lg {
    animation: none;

    max-width: 45px;
  }
}
