@mixin element-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background: $color-white-alpha;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-red-alpha;
  }
}

@mixin scroll-global {
  &::-webkit-scrollbar {
    width: 13px;
    background: $color-white-alpha;
    box-shadow: inset rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-red-alpha;
  }
}
