@keyframes text-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes icon-pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes translate-down-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(70%);
  }
}
