.burger-button {
  position: relative;

  align-items: center;
  justify-content: center;

  z-index: 10;

  display: flex;

  width: 42px;
  height: 30px;

  &::before {
    position: absolute;

    display: none;

    top: -10px;

    content: '';

    border: 2px solid $color-white-alpha;

    width: 54px;
    height: 54px;

    border-bottom-right-radius: 25px;
  }

  span {
    position: relative;

    width: 42px;
    height: 3px;

    background-color: $color-black-alpha;
  }

  span::before,
  span::after {
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: inherit;
  }

  span {
    &::before,
    &::after {
      display: block;

      content: '';
      transition: transform 0.15s;
    }

    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);

      right: 0;
    }
  }

  &.active {
    &::before {
      display: block;
    }

    span {
      height: 0;

      background-color: $color-white-alpha;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);

        width: 100%;
      }
    }
  }
}
