.contact-links {
  justify-self: end;

  a {
    color: $color-white-alpha;
    transition: color 0.1s linear;

    &:hover {
      color: $color-yellow-alpha;
    }
  }

  @include media-tablet-lg-sm {
    justify-self: unset;
    align-self: flex-end;
  }
}

.contact-links__list {
  a {
    font-size: 16px;
  }

  li {
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  img {
    max-width: 24px;
    margin-right: 12px;
  }
}

.contact-links__social {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  max-width: 212px;

  li {
    transition: transform 0.15s linear;

    &:hover {
      transform: scale(1.17);
    }
  }
}
