.deal-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 25px;

  .more {
    display: none;
  }

  li {
    position: relative;

    &::before {
      position: absolute;

      content: '';

      top: 0;
      left: 0;
      width: 100%;
      height: 99%;

      border: 1px solid $color-black-alpha;
      border-radius: 0px 0px 20px 20px;
      background-color: $color-white-gamma;
    }
  }

  a {
    position: relative;

    z-index: 1;

    display: flex;
    align-items: center;

    padding: 12px 20px;

    height: 100%;

    background-color: $color-white-gamma;
    border: 1px solid $color-black-alpha;
    border-radius: 0px 0px 20px 20px;

    transition: transform 0.1s linear, background-color 0.1s linear;

    will-change: transform, background-color;

    &:hover {
      transform: translate(5px, 5px);

      background-color: $color-black-alpha;

      .more {
        display: flex;
      }

      h3 {
        color: $color-red-alpha;
      }

      div {
        transform: translateY(0);
      }

      p {
        opacity: 1;
      }
    }
  }

  img {
    max-width: 10.5rem;
    margin-right: 25px;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 700;
    color: $color-black-alpha;

    transition: color 0.1s linear;
  }

  div {
    transition: transform 0.1s linear;

    transform: translateY(8px);
  }

  &__text {
    margin-top: 10px;
  }

  &__info {
    color: $color-red-alpha;

    will-change: display;
  }

  &--dark {
    a {
      background-color: $color-black-alpha;
      border-color: $color-white-alpha;

      h3 {
        color: $color-white-alpha;
      }

      &:hover {
        h3 {
          color: $color-white-alpha;
        }

        .more {
          display: flex;

          color: $color-yellow-alpha;

          svg {
            fill: $color-yellow-alpha;
          }
        }

        .deal-list__info {
          display: none;
        }
      }

      .more {
        display: none;
      }
    }

    li {
      &::before {
        background-color: $color-red-alpha;
      }
    }

    div {
      transform: translateY(0);
    }
  }

  @include media-tablet-lg {
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 15px 10px;
  }

  @include media-tablet-sm {
    img {
      max-width: 80px;
    }

    h3 {
      font-size: 16px;
    }
  }

  @include media-phone-lg {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;

    img {
      max-width: 65px;
    }

    a {
      padding: 12px 10px;
    }
  }
}
