.draft {
  .title {
    text-align: center;
    margin-bottom: 6rem;
  }

  .button {
    place-self: center;
  }
}

.draft__inner {
  display: grid;
  align-items: center;
}

.draft__list {
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 7.5rem;

  margin-bottom: 6rem;

  .more {
    line-height: 1.6;
    color: $color-yellow-alpha;

    svg {
      fill: $color-yellow-alpha;
    }
  }

  li {
    div {
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-items: end;
    }
  }

  img {
    max-width: 38.5rem;
    max-height: 37.8rem;
    object-fit: contain;
    margin-bottom: 10px;

    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.05);
    }
  }

  h3 {
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: $color-white-alpha;
    margin-right: 30px;
  }

  @include media-desktop {
    li {
      div {
        grid-template-columns: 1fr;
      }
    }

    h3 {
      margin-bottom: 12px;
      margin-right: 0;
    }
  }

  @include media-tablet-lg {
    grid-gap: 24px;

    h3 {
      font-size: 22px;
    }
  }

  @include media-tablet-sm {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-flow: column;

    margin: 0 -15px 40px;
    padding: 0 15px 0;

    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    scrollbar-width: none;

    li {
      min-width: 210px;
    }
  }
}
