.footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #182f43;

  a {
    color: $color-white-alpha;
    transition: color 0.1s linear;

    &:hover {
      color: $color-yellow-alpha;
    }
  }
}

.footer__logo {
  img {
    max-width: 13.5rem;
    margin-bottom: 10px;
  }

  p {
    color: $color-white-alpha;
    line-height: 1.5;
    font-weight: 600;
    max-width: 26.5rem;
    width: 100%;
  }

  @include media-tablet-sm {
    p {
      font-weight: 400;
    }
  }
}

.footer__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  @include media-tablet-lg-sm {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  @include media-phone-lg {
    &:last-of-type {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.footer__menu-list {
  a {
    font-size: 20px;
    font-weight: 600;
  }

  ul {
    margin-top: 20px;

    a {
      font-size: 18px;
      font-weight: 400;
    }
  }

  li {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  @include media-tablet-lg {
    justify-self: center;

    a {
      font-size: 18px;
    }

    ul {
      margin-top: 10px;

      a {
        font-size: 16px;
      }
    }

    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  @include media-tablet-sm {
    justify-self: unset;
  }
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 13rem;

  padding: 6rem 0;
  border-top: 1px solid $color-grey-alpha;

  @include media-tablet-lg {
    gap: 0 50px;

    padding: 30px 0;
  }

  @include media-phone-lg {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

.footer__bot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-top: 1px solid $color-grey-alpha;
  padding: 20px 0 10px;

  a,
  p {
    color: $color-white-alpha;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
  }

  p {
    padding-right: 7.2rem;
  }

  @include media-tablet-lg {
    p {
      padding-right: 0;
    }

    a,
    p {
      font-size: 12px;
    }
  }

  @include media-tablet-sm {
    flex-direction: column;
  }
}
