.header {
  position: absolute;

  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  &.open {
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/png/burger-bg.png');
    background-color: #192f43;

    .header__bot {
      display: block;
    }

    .header__inner {
      padding-top: 80px;
    }

    .header__group {
      margin-right: 0;
    }

    .header__logo {
      img:first-child {
        display: none;
      }

      img:last-child {
        display: block;
      }
    }

    .header__lang {
      img {
        filter: brightness(10);
      }
    }

    .header__lang-list {
      a {
        color: $color-white-alpha;
      }
    }

    @include media-laptop {
      .header__inner {
        padding-top: 40px;
      }
    }

    @include media-tablet-lg {
      background: #192f43;
    }
  }
}

.header__inner {
  display: flex;
  flex-direction: column;

  padding-top: 3rem;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  max-width: 22rem;

  @include media-tablet-lg {
    max-width: 140px;
  }

  @include media-phone-sm {
    max-width: 95px;
  }

  img:last-child {
    display: none;
  }
}

.header__group {
  display: flex;
  align-items: center;
  margin-right: 4rem;

  @include media-phone-lg {
    margin-right: 25px;
  }
}

.header__lang {
  display: flex;
  align-items: center;

  margin-right: 35px;

  & > img {
    max-width: 22px;
  }

  @include media-phone-sm {
    margin-right: 20px;
  }
}

.header__lang-list {
  a {
    font-weight: 600;
    font-size: 20px;
    color: $color-black-alpha;
    font-family: $font-secondary;
  }

  & > li {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > a {
      margin: 0 8px;
    }
  }

  ul {
    display: none;
  }
}

.header__burger {
  z-index: 8;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header__bot {
  display: none;

  padding-top: 16.8rem;
  padding-bottom: 20px;

  @include media-desktop {
    padding-top: 70px;
  }
}

.header__burger-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-tablet-lg {
    flex-direction: column;
  }
}

.header__burger-links {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-right: 20px;
  width: 100%;
  min-width: 46rem;

  @include media-tablet-lg {
    flex-direction: row;
    min-width: unset;
    margin-right: 0;
  }

  @include media-tablet-sm {
    justify-content: space-between;
  }

  @include media-phone-lg {
    flex-direction: column;
    align-items: center;
  }
}

.header__burger-menu {
  margin-bottom: 4rem;

  @include media-tablet-lg {
    margin-right: 170px;
    margin-bottom: 0;
  }

  @include media-tablet-sm {
    margin-right: 0;
  }

  @include media-phone-lg {
    margin-bottom: 60px;
  }
}

.header__burger-list {
  a {
    color: $color-white-alpha;

    transition: 0.1s linear, transform 0.2s linear;

    & + svg {
      display: none;

      margin-left: 20px;

      padding: 5px;
      width: 27px;
      height: 25px;

      transition: transform 0.1s linear;

      &.show {
        display: inline-block;
      }

      &.active {
        transform: rotateX(180deg);
      }
    }

    &:hover {
      color: $color-yellow-alpha;
    }
  }

  ul {
    max-height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;

    transition: opacity 0.2s ease-in;

    &.active {
      max-height: fit-content;
      overflow: visible;
      opacity: 1;
      width: 100%;
    }

    a {
      color: $color-white-alpha;
      font-size: 16px;
      font-weight: 400;
      padding: 5px 0;
    }
  }

  & > li {
    position: relative;
    width: fit-content;

    & > a {
      transform: translateX(-50px);
    }

    body:not(.touch) &:hover,
    &.active {
      ul {
        max-height: fit-content;
        overflow: visible;
        opacity: 1;
        width: 100%;
      }

      a {
        transform: translateX(0px);

        &::before {
          opacity: 1;
        }
      }
    }
  }

  & > li:not(:last-child) {
    margin-bottom: 10px;
  }

  & > li > a {
    @include text-triangle-mark;

    font-size: 4.4rem;
    font-weight: 700;

    &::before {
      opacity: 0;

      background-image: url('../img/svg/triangle-shadowed-light.svg');

      top: 50%;
      transform: translateY(-50%);

      transition: opacity 0.1s linear;
    }

    @include media-tablet-sm {
      font-size: 32px;
    }
  }
}

.header__burger-contact {
  .button {
    display: none;

    margin-top: 4rem;
  }

  @include media-tablet-lg {
    justify-self: flex-start;
  }

  @include media-phone-lg {
    .button {
      display: inline-block;
    }
  }
}

.header__burger-form {
  max-width: 708px;
  width: 100%;

  &::before {
    position: relative;

    display: none;

    left: -15px;

    content: '';

    height: 1px;

    width: 100vw;

    margin: 30px 0;

    background: rgba($color-white-alpha, 0.4);
  }

  .title {
    font-size: 3.2rem;
  }

  @include media-tablet-lg {
    max-width: unset;

    &::before {
      display: block;
    }
  }

  @include media-phone-lg {
    display: none;
  }
}
