.intro {
  padding-bottom: 10rem;
  background-color: $color-white-gamma;

  @include media-tablet-lg {
    padding-bottom: 40px;
  }

  &--secondary {
    background-color: $color-white-alpha;

    .intro__descrip {
      padding-top: 14.9rem;
    }

    @include media-tablet-sm {
      .intro__descrip {
        padding-top: 20px;
      }
    }
  }
}

.intro__inner {
  position: relative;

  display: flex;
  justify-content: space-between;

  @include media-tablet-sm {
    flex-direction: column-reverse;
  }
}

.intro__descrip {
  padding-top: 21.6rem;
  margin-right: 38px;

  max-width: 63rem;
  width: 100%;

  .title {
    &__part-red {
      span {
        display: inline-block;
      }
    }
  }

  @include media-tablet-lg {
    padding-top: 112px;
  }

  @include media-tablet-sm {
    padding-top: 35px;
  }
}

.intro__img-wrapper {
  position: relative;

  display: flex;
  justify-content: flex-end;

  width: 100%;

  &--secondary {
    @include media-tablet-lg {
      .intro__img-text {
        display: none;
      }
    }
  }
}

.intro__img {
  position: relative;

  max-width: 68.3rem;
  width: 100%;
  min-height: 77.2rem;

  border-radius: 0 0 400px 400px;

  background: url('../img/png/gradient.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 26px;
    content: '';
    border-right: 1px solid $color-black-alpha;
    border-left: 1px solid $color-black-alpha;
    border-bottom: 1px solid $color-black-alpha;
    width: 100%;
    height: 104%;
    border-radius: inherit;

    @include media-laptop {
      right: 16px;
    }

    @include media-phone-sm {
      right: 10px;
    }
  }

  @include media-desktop {
    max-width: 550px;
  }

  @include media-laptop {
    max-width: 422px;
    min-height: 541px;
  }

  @include media-tablet-lg-sm {
    max-width: 350px;
  }

  @include media-tablet-sm {
    max-width: 422px;
    align-self: flex-end;
  }

  @include media-phone-sm {
    min-height: 470px;
  }

  &--secondary {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    overflow: hidden;

    min-height: 74.3rem;
    max-width: 100%;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 300px;
    border: 1px solid;
    border-top: none;
    background: url('../img/png/gradient-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
      display: none;
    }

    .intro__img-main {
      max-width: 100%;
      width: unset;
    }

    @include media-desktop {
      border-bottom-left-radius: 150px;
    }

    @include media-tablet-lg {
      max-width: 380px;
      min-height: 530px;
    }

    @include media-tablet-sm {
      max-width: 530px;
    }

    @include media-phone-sm {
      max-width: 335px;
      min-height: 355px;
    }
  }

  &-phone {
    position: absolute;

    &--1 {
      z-index: 1;

      max-width: 23.6rem;

      bottom: 6%;
      left: 18%;
    }

    &--2 {
      max-width: 20.9rem;

      bottom: 21%;
      left: 50%;
    }

    @include media-laptop {
      &--1 {
        max-width: 146px;
      }

      &--2 {
        max-width: 119px;
      }
    }

    @include media-phone-sm {
      &--1 {
        max-width: 116px;
      }

      &--2 {
        max-width: 95px;
      }
    }
  }
}

.intro__img-main {
  position: relative;
  overflow: hidden;
}

.intro__img-text {
  position: absolute;
  z-index: 1;
  bottom: 7%;
  left: -14%;
  max-width: 19.6rem;

  animation: text-rotate 11s linear infinite;

  &--tablet {
    display: none;

    top: 42%;
    left: 0;
  }

  @include media-laptop {
    max-width: 121px;
  }

  @include media-tablet-lg {
    animation: none;
  }

  @include media-tablet-sm {
    display: none;

    &--tablet {
      display: block;

      max-width: 170px;
    }
  }

  @include media-phone-lg {
    &--tablet {
      display: none;
    }
  }
}

.intro__buttons {
  display: flex;

  .button {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
