.join {
  &--negative-margin {
    position: relative;
    bottom: 21.5rem;
    margin-bottom: -115px;

    @include media-tablet-lg {
      margin-bottom: -160px;
    }
  }
}

.join__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;

  @include media-tablet-lg-sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-tablet-sm {
    grid-template-columns: repeat(1, 1fr);
  }
}

.join__item {
  position: relative;

  summary {
    top: 13px;
    right: 10px;
  }

  &-header {
    position: relative;

    display: flex;
    flex-direction: column;

    padding-right: 45px;

    h3 {
      padding-left: 17px;
      margin-top: 15px;

      line-height: 1.59;
      font-weight: 700;
      font-size: 2.2rem;
    }

    @include media-tablet-sm {
      flex-direction: row;
      align-items: center;

      h3 {
        margin-top: 0;
      }
    }
  }

  &-img {
    position: relative;

    left: -1px;
    top: -1px;

    max-width: 77px;

    padding: 17px;
    margin-bottom: -2px;

    background-color: #aa4337;
    border: 2px solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 15px;
  }

  &:nth-child(even) {
    .join__item-img {
      background-color: $color-yellow-alpha;
    }
  }
}

.join__item-descrip {
  padding: 12px 17px 34px;

  @include media-tablet-sm {
    padding-bottom: 20px;
  }
}

.join__descrip {
  .title {
    font-size: 3.8rem;
    margin-bottom: 20px;
  }

  &-text {
    margin-bottom: 30px;
  }

  @include media-tablet-lg {
    .title {
      font-size: 28px;
    }
  }

  @include media-tablet-sm {
    text-align: center;

    .title {
      font-size: 24px;
    }
  }
}
