.list {
  li {
    position: relative;

    padding-left: 13px;

    line-height: 1.5;

    &::before {
      position: absolute;

      display: inline-block;

      content: '';

      top: 0.6em;

      left: 0;

      vertical-align: middle;

      width: 4px;
      height: 4px;

      border-radius: 50%;

      background-color: $color-black-alpha;
    }

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}
