.modal {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  pointer-events: none;

  opacity: 0;
  overflow: hidden;

  top: 0;
  right: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.6);

  transition: opacity 0.2s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal__content {
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;

  padding: 8rem 19rem;

  max-width: 1086px;
  max-height: 90vh;
  width: 100%;

  background-color: $color-white-alpha;
  border: 1px solid $color-black-alpha;
  border-radius: 40px;

  @include media-laptop {
    max-width: 95vw;
  }

  @include media-tablet-lg {
    padding: 60px 45px;
  }

  @include media-phone-lg {
    padding: 45px 30px;
  }

  @include media-phone-sm {
    padding: 45px 20px;
  }

  &--paddingless {
    padding: 0;
  }
}

.modal__inner {
  display: flex;
  justify-content: space-between;

  @include media-tablet-sm {
    flex-direction: column;
  }
}

.modal__descrip {
  max-width: 61.1rem;
  width: 100%;

  margin-right: 20px;
  padding: 17.2rem 0 17.2rem 6rem;

  @include media-tablet-lg {
    padding: 90px 0 90px 30px;
  }

  @include media-tablet-sm {
    padding: 50px 20px 30px;
    max-width: unset;
  }
}

.modal__close {
  position: absolute;

  top: 25px;
  right: 25px;

  width: 20px;
  height: 20px;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}

.modal__title {
  text-align: center;

  &--left {
    text-align: left;
  }
}

.modal__text {
  font-weight: 500;
}

.modal__img {
  max-width: 44.9rem;
  align-self: flex-end;

  @include media-tablet-lg {
    max-width: 270px;
  }

  @include media-tablet-sm {
    align-self: center;
    max-width: 250px;
  }
}
