.start {
  padding-bottom: 8rem;

  @include media-tablet-lg {
    padding-bottom: 40px;
  }
}

.start__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-laptop {
    justify-content: center;
  }
}

.start__content {
  max-width: 70.8rem;
  width: 100%;

  .title {
    span:first-of-type {
      color: $color-yellow-alpha;
    }
  }

  @include media-phone-lg {
    .title {
      text-align: center;
    }
  }
}

.start__img {
  position: relative;

  z-index: 1;

  max-width: 508px;

  margin-left: 20px;

  @include media-laptop {
    display: none;
  }
}

.start__icon {
  position: absolute;

  max-width: 100%;
  width: unset;

  &--lamp {
    top: 19.5%;
    left: 47.6%;
  }

  &--mechanism {
    top: 34.7%;
    left: 46.6%;
  }

  &--graph {
    top: 50.5%;
    left: 47%;
  }

  &--target {
    top: 64%;
    left: 45.6%;
  }
}

.start__cloud {
  position: absolute;

  z-index: -1;

  animation: translate-down-up 3s ease-in-out infinite alternate;

  &--1 {
    max-width: 12.4rem;
    top: 9%;
    right: 0%;
    animation-delay: 1s;
  }

  &--2 {
    top: 2%;
    left: 7%;
    animation-delay: 0.5s;
  }

  &--3 {
    top: 31%;
    right: 24%;
  }

  &--2,
  &--3 {
    max-width: 8.1rem;
  }
}
