.text {
  line-height: 1.5;
  font-size: 18px;

  &--light {
    color: $color-white-alpha;
  }

  &--sm {
    font-size: 16px;
  }

  &--margin {
    margin-bottom: 6rem;
  }

  p {
    font-size: inherit;
    line-height: inherit;
  }

  ul {
    padding-left: 18px;

    li {
      list-style: decimal;
    }
  }

  @include media-tablet-lg {
    font-size: 16px;
  }

  @include media-tablet-sm {
    &--margin {
      margin-bottom: 40px;
    }

    font-size: 15px;
  }

  @include media-phone-sm {
    &--margin {
      margin-bottom: 20px;
    }
  }
}
