.title-marked {
  margin-bottom: 3rem;

  @include media-tablet-sm {
    margin-bottom: 20px;
  }

  @include media-phone-sm {
    font-size: 22px;
  }

  h2,
  h3 {
    @include text-triangle-mark;

    font-weight: 700;
    font-size: 3.8rem;

    @include media-tablet-lg {
      font-size: 28px;
    }
  }

  &--light {
    color: $color-white-alpha;

    h2,
    h3 {
      &::before {
        background-image: url('../img/svg/triangle-shadowed-light.svg');
        background-repeat: no-repeat;
      }
    }
  }
}
