.title-marked {
  font-weight: 700;
  font-size: 3.8rem;

  margin-bottom: 3rem;

  @include media-tablet-lg {
    font-size: 28px;
  }

  @include media-tablet-sm {
    margin-bottom: 20px;
  }

  @include media-phone-sm {
    font-size: 22px;
  }

  h1,
  h2,
  h3 {
    @include text-triangle-mark;
    font-size: inherit;
    font-weight: inherit;
  }

  &--light {
    color: $color-white-alpha;

    h2,
    h3 {
      &::before {
        background-image: url('../img/svg/triangle-shadowed-light.svg');
        background-repeat: no-repeat;
      }
    }
  }
}
