.wrapper-round {
  background-color: $color-white-psi;
  background-image: url('../img/png/noise.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 40px;
  border: 1px solid;
}
