.wrapper-round {
  background-color: $color-white-psi;
  background-image: url('../img/png/noise.png');
  background-position: center;

  border-radius: 40px;
  border: 1px solid;

  @include media-tablet-lg {
    border-radius: 30px;
  }
}
